<?php
/**
 * AFNORPDPPADirectoryServiceApi
 * PHP version 8.1
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * FactPulse REST API
 *
 * REST API for electronic invoicing in France: Factur-X (CII), UBL 2.1, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Invoice Generation - **Formats**: CII XML, UBL 2.1 XML, or Factur-X PDF/A-3 - **Profiles** (CII/PDF): MINIMUM, BASIC, EN16931, EXTENDED - **UBL**: Always EN16931 compliant - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT), UBL 2.1 (OASIS) - **Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.21.0-SNAPSHOT
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace FactPulse\SDK\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use FactPulse\SDK\ApiException;
use FactPulse\SDK\Configuration;
use FactPulse\SDK\FormDataProcessor;
use FactPulse\SDK\HeaderSelector;
use FactPulse\SDK\ObjectSerializer;

/**
 * AFNORPDPPADirectoryServiceApi Class Doc Comment
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class AFNORPDPPADirectoryServiceApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet' => [
            'application/json',
        ],
        'getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet' => [
            'application/json',
        ],
        'getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet' => [
            'application/json',
        ],
        'getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet' => [
            'application/json',
        ],
        'getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet' => [
            'application/json',
        ],
        'searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost' => [
            'application/json',
        ],
        'searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost' => [
            'application/json',
        ],
        'searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost' => [
            'application/json',
        ],
        'searchSiretProxyApiV1AfnorDirectoryV1SiretSearchPost' => [
            'application/json',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet
     *
     * Healthcheck Directory Service
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return object
     */
    public function directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet(string $contentType = self::contentTypes['directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'][0])
    {
        list($response) = $this->directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetWithHttpInfo($contentType);
        return $response;
    }

    /**
     * Operation directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetWithHttpInfo
     *
     * Healthcheck Directory Service
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetWithHttpInfo(string $contentType = self::contentTypes['directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'][0])
    {
        $request = $this->directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'object',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'object',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'object',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetAsync
     *
     * Healthcheck Directory Service
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetAsync(string $contentType = self::contentTypes['directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'][0])
    {
        return $this->directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetAsyncWithHttpInfo
     *
     * Healthcheck Directory Service
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetAsyncWithHttpInfo(string $contentType = self::contentTypes['directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'][0])
    {
        $returnType = 'object';
        $request = $this->directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGetRequest(string $contentType = self::contentTypes['directoryHealthcheckProxyApiV1AfnorDirectoryV1HealthcheckGet'][0])
    {


        $resourcePath = '/api/v1/afnor/directory/v1/healthcheck';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet
     *
     * Get a directory line.
     *
     * @param  string $addressing_identifier Addressing identifier (SIREN, SIRET or routing code) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\AFNORDirectoryLinePayloadLegalUnitFacilityRoutingCode
     */
    public function getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet($addressing_identifier, string $contentType = self::contentTypes['getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'][0])
    {
        list($response) = $this->getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetWithHttpInfo($addressing_identifier, $contentType);
        return $response;
    }

    /**
     * Operation getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetWithHttpInfo
     *
     * Get a directory line.
     *
     * @param  string $addressing_identifier Addressing identifier (SIREN, SIRET or routing code) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\AFNORDirectoryLinePayloadLegalUnitFacilityRoutingCode, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetWithHttpInfo($addressing_identifier, string $contentType = self::contentTypes['getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'][0])
    {
        $request = $this->getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetRequest($addressing_identifier, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AFNORDirectoryLinePayloadLegalUnitFacilityRoutingCode',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\AFNORDirectoryLinePayloadLegalUnitFacilityRoutingCode',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AFNORDirectoryLinePayloadLegalUnitFacilityRoutingCode',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetAsync
     *
     * Get a directory line.
     *
     * @param  string $addressing_identifier Addressing identifier (SIREN, SIRET or routing code) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetAsync($addressing_identifier, string $contentType = self::contentTypes['getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'][0])
    {
        return $this->getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetAsyncWithHttpInfo($addressing_identifier, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetAsyncWithHttpInfo
     *
     * Get a directory line.
     *
     * @param  string $addressing_identifier Addressing identifier (SIREN, SIRET or routing code) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetAsyncWithHttpInfo($addressing_identifier, string $contentType = self::contentTypes['getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'][0])
    {
        $returnType = '\FactPulse\SDK\Model\AFNORDirectoryLinePayloadLegalUnitFacilityRoutingCode';
        $request = $this->getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetRequest($addressing_identifier, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'
     *
     * @param  string $addressing_identifier Addressing identifier (SIREN, SIRET or routing code) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGetRequest($addressing_identifier, string $contentType = self::contentTypes['getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'][0])
    {

        // verify the required parameter 'addressing_identifier' is set
        if ($addressing_identifier === null || (is_array($addressing_identifier) && count($addressing_identifier) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $addressing_identifier when calling getDirectoryLineByCodeProxyApiV1AfnorDirectoryV1DirectoryLineCodeAddressingIdentifierGet'
            );
        }


        $resourcePath = '/api/v1/afnor/directory/v1/directory-line/code:{addressing_identifier}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($addressing_identifier !== null) {
            $resourcePath = str_replace(
                '{' . 'addressing_identifier' . '}',
                ObjectSerializer::toPathValue($addressing_identifier),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet
     *
     * Get a routing code by SIRET and routing identifier
     *
     * @param  string $siret 14-digit SIRET number (INSEE establishment identifier) (required)
     * @param  string $routing_identifier Routing code identifier (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\AFNORRoutingCodePayloadHistoryLegalUnitFacility
     */
    public function getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet($siret, $routing_identifier, string $contentType = self::contentTypes['getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'][0])
    {
        list($response) = $this->getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetWithHttpInfo($siret, $routing_identifier, $contentType);
        return $response;
    }

    /**
     * Operation getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetWithHttpInfo
     *
     * Get a routing code by SIRET and routing identifier
     *
     * @param  string $siret 14-digit SIRET number (INSEE establishment identifier) (required)
     * @param  string $routing_identifier Routing code identifier (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\AFNORRoutingCodePayloadHistoryLegalUnitFacility, HTTP status code, HTTP response headers (array of strings)
     */
    public function getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetWithHttpInfo($siret, $routing_identifier, string $contentType = self::contentTypes['getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'][0])
    {
        $request = $this->getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetRequest($siret, $routing_identifier, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AFNORRoutingCodePayloadHistoryLegalUnitFacility',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\AFNORRoutingCodePayloadHistoryLegalUnitFacility',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AFNORRoutingCodePayloadHistoryLegalUnitFacility',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetAsync
     *
     * Get a routing code by SIRET and routing identifier
     *
     * @param  string $siret 14-digit SIRET number (INSEE establishment identifier) (required)
     * @param  string $routing_identifier Routing code identifier (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetAsync($siret, $routing_identifier, string $contentType = self::contentTypes['getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'][0])
    {
        return $this->getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetAsyncWithHttpInfo($siret, $routing_identifier, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetAsyncWithHttpInfo
     *
     * Get a routing code by SIRET and routing identifier
     *
     * @param  string $siret 14-digit SIRET number (INSEE establishment identifier) (required)
     * @param  string $routing_identifier Routing code identifier (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetAsyncWithHttpInfo($siret, $routing_identifier, string $contentType = self::contentTypes['getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'][0])
    {
        $returnType = '\FactPulse\SDK\Model\AFNORRoutingCodePayloadHistoryLegalUnitFacility';
        $request = $this->getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetRequest($siret, $routing_identifier, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'
     *
     * @param  string $siret 14-digit SIRET number (INSEE establishment identifier) (required)
     * @param  string $routing_identifier Routing code identifier (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGetRequest($siret, $routing_identifier, string $contentType = self::contentTypes['getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'][0])
    {

        // verify the required parameter 'siret' is set
        if ($siret === null || (is_array($siret) && count($siret) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $siret when calling getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'
            );
        }

        // verify the required parameter 'routing_identifier' is set
        if ($routing_identifier === null || (is_array($routing_identifier) && count($routing_identifier) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $routing_identifier when calling getRoutingCodeBySiretAndCodeProxyApiV1AfnorDirectoryV1RoutingCodeSiretSiretCodeRoutingIdentifierGet'
            );
        }


        $resourcePath = '/api/v1/afnor/directory/v1/routing-code/siret:{siret}/code:{routing_identifier}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($siret !== null) {
            $resourcePath = str_replace(
                '{' . 'siret' . '}',
                ObjectSerializer::toPathValue($siret),
                $resourcePath
            );
        }
        // path params
        if ($routing_identifier !== null) {
            $resourcePath = str_replace(
                '{' . 'routing_identifier' . '}',
                ObjectSerializer::toPathValue($routing_identifier),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet
     *
     * Consult a siren (legal unit) by SIREN number
     *
     * @param  string $siren 9-digit SIREN number (INSEE company identifier) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\AFNORLegalUnitPayloadHistory
     */
    public function getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet($siren, string $contentType = self::contentTypes['getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'][0])
    {
        list($response) = $this->getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetWithHttpInfo($siren, $contentType);
        return $response;
    }

    /**
     * Operation getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetWithHttpInfo
     *
     * Consult a siren (legal unit) by SIREN number
     *
     * @param  string $siren 9-digit SIREN number (INSEE company identifier) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\AFNORLegalUnitPayloadHistory, HTTP status code, HTTP response headers (array of strings)
     */
    public function getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetWithHttpInfo($siren, string $contentType = self::contentTypes['getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'][0])
    {
        $request = $this->getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetRequest($siren, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AFNORLegalUnitPayloadHistory',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\AFNORLegalUnitPayloadHistory',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AFNORLegalUnitPayloadHistory',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetAsync
     *
     * Consult a siren (legal unit) by SIREN number
     *
     * @param  string $siren 9-digit SIREN number (INSEE company identifier) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetAsync($siren, string $contentType = self::contentTypes['getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'][0])
    {
        return $this->getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetAsyncWithHttpInfo($siren, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetAsyncWithHttpInfo
     *
     * Consult a siren (legal unit) by SIREN number
     *
     * @param  string $siren 9-digit SIREN number (INSEE company identifier) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetAsyncWithHttpInfo($siren, string $contentType = self::contentTypes['getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'][0])
    {
        $returnType = '\FactPulse\SDK\Model\AFNORLegalUnitPayloadHistory';
        $request = $this->getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetRequest($siren, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'
     *
     * @param  string $siren 9-digit SIREN number (INSEE company identifier) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGetRequest($siren, string $contentType = self::contentTypes['getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'][0])
    {

        // verify the required parameter 'siren' is set
        if ($siren === null || (is_array($siren) && count($siren) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $siren when calling getSirenByCodeInseeProxyApiV1AfnorDirectoryV1SirenCodeInseeSirenGet'
            );
        }


        $resourcePath = '/api/v1/afnor/directory/v1/siren/code-insee:{siren}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($siren !== null) {
            $resourcePath = str_replace(
                '{' . 'siren' . '}',
                ObjectSerializer::toPathValue($siren),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet
     *
     * Gets a siret (facility) by SIRET number
     *
     * @param  string $siret 14-digit SIRET number (INSEE establishment identifier) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\AFNORFacilityPayloadHistory
     */
    public function getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet($siret, string $contentType = self::contentTypes['getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'][0])
    {
        list($response) = $this->getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetWithHttpInfo($siret, $contentType);
        return $response;
    }

    /**
     * Operation getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetWithHttpInfo
     *
     * Gets a siret (facility) by SIRET number
     *
     * @param  string $siret 14-digit SIRET number (INSEE establishment identifier) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\AFNORFacilityPayloadHistory, HTTP status code, HTTP response headers (array of strings)
     */
    public function getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetWithHttpInfo($siret, string $contentType = self::contentTypes['getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'][0])
    {
        $request = $this->getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetRequest($siret, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AFNORFacilityPayloadHistory',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\AFNORFacilityPayloadHistory',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AFNORFacilityPayloadHistory',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetAsync
     *
     * Gets a siret (facility) by SIRET number
     *
     * @param  string $siret 14-digit SIRET number (INSEE establishment identifier) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetAsync($siret, string $contentType = self::contentTypes['getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'][0])
    {
        return $this->getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetAsyncWithHttpInfo($siret, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetAsyncWithHttpInfo
     *
     * Gets a siret (facility) by SIRET number
     *
     * @param  string $siret 14-digit SIRET number (INSEE establishment identifier) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetAsyncWithHttpInfo($siret, string $contentType = self::contentTypes['getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'][0])
    {
        $returnType = '\FactPulse\SDK\Model\AFNORFacilityPayloadHistory';
        $request = $this->getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetRequest($siret, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'
     *
     * @param  string $siret 14-digit SIRET number (INSEE establishment identifier) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGetRequest($siret, string $contentType = self::contentTypes['getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'][0])
    {

        // verify the required parameter 'siret' is set
        if ($siret === null || (is_array($siret) && count($siret) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $siret when calling getSiretByCodeInseeProxyApiV1AfnorDirectoryV1SiretCodeInseeSiretGet'
            );
        }


        $resourcePath = '/api/v1/afnor/directory/v1/siret/code-insee:{siret}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($siret !== null) {
            $resourcePath = str_replace(
                '{' . 'siret' . '}',
                ObjectSerializer::toPathValue($siret),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost
     *
     * Search for a directory line
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\AFNORDirectoryLineSearchPost200Response|\FactPulse\SDK\Model\AFNORDirectoryLineSearchPost200Response
     */
    public function searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost(string $contentType = self::contentTypes['searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'][0])
    {
        list($response) = $this->searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostWithHttpInfo($contentType);
        return $response;
    }

    /**
     * Operation searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostWithHttpInfo
     *
     * Search for a directory line
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\AFNORDirectoryLineSearchPost200Response|\FactPulse\SDK\Model\AFNORDirectoryLineSearchPost200Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostWithHttpInfo(string $contentType = self::contentTypes['searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'][0])
    {
        $request = $this->searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AFNORDirectoryLineSearchPost200Response',
                        $request,
                        $response,
                    );
                case 206:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AFNORDirectoryLineSearchPost200Response',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\AFNORDirectoryLineSearchPost200Response',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AFNORDirectoryLineSearchPost200Response',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 206:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AFNORDirectoryLineSearchPost200Response',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostAsync
     *
     * Search for a directory line
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostAsync(string $contentType = self::contentTypes['searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'][0])
    {
        return $this->searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostAsyncWithHttpInfo
     *
     * Search for a directory line
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostAsyncWithHttpInfo(string $contentType = self::contentTypes['searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\AFNORDirectoryLineSearchPost200Response';
        $request = $this->searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPostRequest(string $contentType = self::contentTypes['searchDirectoryLineProxyApiV1AfnorDirectoryV1DirectoryLineSearchPost'][0])
    {


        $resourcePath = '/api/v1/afnor/directory/v1/directory-line/search';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost
     *
     * Search for a routing code
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\AFNORRoutingCodeSearchPost200Response|\FactPulse\SDK\Model\AFNORRoutingCodeSearchPost200Response
     */
    public function searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost(string $contentType = self::contentTypes['searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'][0])
    {
        list($response) = $this->searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostWithHttpInfo($contentType);
        return $response;
    }

    /**
     * Operation searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostWithHttpInfo
     *
     * Search for a routing code
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\AFNORRoutingCodeSearchPost200Response|\FactPulse\SDK\Model\AFNORRoutingCodeSearchPost200Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostWithHttpInfo(string $contentType = self::contentTypes['searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'][0])
    {
        $request = $this->searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AFNORRoutingCodeSearchPost200Response',
                        $request,
                        $response,
                    );
                case 206:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AFNORRoutingCodeSearchPost200Response',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\AFNORRoutingCodeSearchPost200Response',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AFNORRoutingCodeSearchPost200Response',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 206:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AFNORRoutingCodeSearchPost200Response',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostAsync
     *
     * Search for a routing code
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostAsync(string $contentType = self::contentTypes['searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'][0])
    {
        return $this->searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostAsyncWithHttpInfo
     *
     * Search for a routing code
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostAsyncWithHttpInfo(string $contentType = self::contentTypes['searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\AFNORRoutingCodeSearchPost200Response';
        $request = $this->searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPostRequest(string $contentType = self::contentTypes['searchRoutingCodeProxyApiV1AfnorDirectoryV1RoutingCodeSearchPost'][0])
    {


        $resourcePath = '/api/v1/afnor/directory/v1/routing-code/search';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost
     *
     * SIREN search (or legal unit)
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\AFNORSirenSearchPost200Response|\FactPulse\SDK\Model\AFNORSirenSearchPost200Response
     */
    public function searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost(string $contentType = self::contentTypes['searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'][0])
    {
        list($response) = $this->searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostWithHttpInfo($contentType);
        return $response;
    }

    /**
     * Operation searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostWithHttpInfo
     *
     * SIREN search (or legal unit)
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\AFNORSirenSearchPost200Response|\FactPulse\SDK\Model\AFNORSirenSearchPost200Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostWithHttpInfo(string $contentType = self::contentTypes['searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'][0])
    {
        $request = $this->searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AFNORSirenSearchPost200Response',
                        $request,
                        $response,
                    );
                case 206:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AFNORSirenSearchPost200Response',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\AFNORSirenSearchPost200Response',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AFNORSirenSearchPost200Response',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 206:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AFNORSirenSearchPost200Response',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostAsync
     *
     * SIREN search (or legal unit)
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostAsync(string $contentType = self::contentTypes['searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'][0])
    {
        return $this->searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostAsyncWithHttpInfo
     *
     * SIREN search (or legal unit)
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostAsyncWithHttpInfo(string $contentType = self::contentTypes['searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\AFNORSirenSearchPost200Response';
        $request = $this->searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPostRequest(string $contentType = self::contentTypes['searchSirenProxyApiV1AfnorDirectoryV1SirenSearchPost'][0])
    {


        $resourcePath = '/api/v1/afnor/directory/v1/siren/search';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
[...]
