<?php
/**
 * ChorusProApi
 * PHP version 8.1
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * API REST FactPulse
 *
 * API REST pour la facturation électronique en France : Factur-X, AFNOR PDP/PA, signatures électroniques.  ## 🎯 Fonctionnalités principales  ### 📄 Génération de factures Factur-X - **Formats** : XML seul ou PDF/A-3 avec XML embarqué - **Profils** : MINIMUM, BASIC, EN16931, EXTENDED - **Normes** : EN 16931 (directive UE 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Format simplifié** : Génération à partir de SIRET + auto-enrichissement (API Chorus Pro + Recherche Entreprises)  ### ✅ Validation et conformité - **Validation XML** : Schematron (45 à 210+ règles selon profil) - **Validation PDF** : PDF/A-3, métadonnées XMP Factur-X, signatures électroniques - **VeraPDF** : Validation stricte PDF/A (146+ règles ISO 19005-3) - **Traitement asynchrone** : Support Celery pour validations lourdes (VeraPDF)  ### 📡 Intégration AFNOR PDP/PA (XP Z12-013) - **Soumission de flux** : Envoi de factures vers Plateformes de Dématérialisation Partenaires - **Recherche de flux** : Consultation des factures soumises - **Téléchargement** : Récupération des PDF/A-3 avec XML - **Directory Service** : Recherche d'entreprises (SIREN/SIRET) - **Multi-client** : Support de plusieurs configs PDP par utilisateur (stored credentials ou zero-storage)  ### ✍️ Signature électronique PDF - **Standards** : PAdES-B-B, PAdES-B-T (horodatage RFC 3161), PAdES-B-LT (archivage long terme) - **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO) - **Validation** : Vérification intégrité cryptographique et certificats - **Génération de certificats** : Certificats X.509 auto-signés pour tests  ### 🔄 Traitement asynchrone - **Celery** : Génération, validation et signature asynchrones - **Polling** : Suivi d'état via `/taches/{id_tache}/statut` - **Pas de timeout** : Idéal pour gros fichiers ou validations lourdes  ## 🔒 Authentification  Toutes les requêtes nécessitent un **token JWT** dans le header Authorization : ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### Comment obtenir un token JWT ?  #### 🔑 Méthode 1 : API `/api/token/` (Recommandée)  **URL :** `https://www.factpulse.fr/api/token/`  Cette méthode est **recommandée** pour l'intégration dans vos applications et workflows CI/CD.  **Prérequis :** Avoir défini un mot de passe sur votre compte  **Pour les utilisateurs inscrits via email/password :** - Vous avez déjà un mot de passe, utilisez-le directement  **Pour les utilisateurs inscrits via OAuth (Google/GitHub) :** - Vous devez d'abord définir un mot de passe sur : https://www.factpulse.fr/accounts/password/set/ - Une fois le mot de passe créé, vous pourrez utiliser l'API  **Exemple de requête :** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\"   }' ```  **Réponse :** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Token d'accès (validité: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Token de rafraîchissement (validité: 7 jours) } ```  **Avantages :** - ✅ Automatisation complète (CI/CD, scripts) - ✅ Gestion programmatique des tokens - ✅ Support du refresh token pour renouveler automatiquement l'accès - ✅ Intégration facile dans n'importe quel langage/outil  #### 🖥️ Méthode 2 : Génération via Dashboard (Alternative)  **URL :** https://www.factpulse.fr/dashboard/  Cette méthode convient pour des tests rapides ou une utilisation occasionnelle via l'interface graphique.  **Fonctionnement :** - Connectez-vous au dashboard - Utilisez les boutons \"Generate Test Token\" ou \"Generate Production Token\" - Fonctionne pour **tous** les utilisateurs (OAuth et email/password), sans nécessiter de mot de passe  **Types de tokens :** - **Token Test** : Validité 24h, quota 1000 appels/jour (gratuit) - **Token Production** : Validité 7 jours, quota selon votre forfait  **Avantages :** - ✅ Rapide pour tester l'API - ✅ Aucun mot de passe requis - ✅ Interface visuelle simple  **Inconvénients :** - ❌ Nécessite une action manuelle - ❌ Pas de refresh token - ❌ Moins adapté pour l'automatisation  ### 📚 Documentation complète  Pour plus d'informations sur l'authentification et l'utilisation de l'API : https://www.factpulse.fr/documentation-api/
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.18.0-SNAPSHOT
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace FactPulse\SDK\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use FactPulse\SDK\ApiException;
use FactPulse\SDK\Configuration;
use FactPulse\SDK\FormDataProcessor;
use FactPulse\SDK\HeaderSelector;
use FactPulse\SDK\ObjectSerializer;

/**
 * ChorusProApi Class Doc Comment
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class ChorusProApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'ajouterFichierApiV1ChorusProTransversesAjouterFichierPost' => [
            'application/json',
        ],
        'completerFactureApiV1ChorusProFacturesCompleterPost' => [
            'application/json',
        ],
        'consulterFactureApiV1ChorusProFacturesConsulterPost' => [
            'application/json',
        ],
        'consulterStructureApiV1ChorusProStructuresConsulterPost' => [
            'application/json',
        ],
        'listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet' => [
            'application/json',
        ],
        'obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost' => [
            'application/json',
        ],
        'rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost' => [
            'application/json',
        ],
        'rechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost' => [
            'application/json',
        ],
        'rechercherStructuresApiV1ChorusProStructuresRechercherPost' => [
            'application/json',
        ],
        'recyclerFactureApiV1ChorusProFacturesRecyclerPost' => [
            'application/json',
        ],
        'soumettreFactureApiV1ChorusProFacturesSoumettrePost' => [
            'application/json',
        ],
        'telechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost' => [
            'application/json',
        ],
        'traiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost' => [
            'application/json',
        ],
        'valideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost' => [
            'application/json',
        ],
        'valideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost' => [
            'application/json',
        ],
        'valideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost' => [
            'application/json',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation ajouterFichierApiV1ChorusProTransversesAjouterFichierPost
     *
     * Ajouter une pièce jointe
     *
     * @param  \FactPulse\SDK\Model\BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost $body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return mixed|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function ajouterFichierApiV1ChorusProTransversesAjouterFichierPost($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post, string $contentType = self::contentTypes['ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'][0])
    {
        list($response) = $this->ajouterFichierApiV1ChorusProTransversesAjouterFichierPostWithHttpInfo($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post, $contentType);
        return $response;
    }

    /**
     * Operation ajouterFichierApiV1ChorusProTransversesAjouterFichierPostWithHttpInfo
     *
     * Ajouter une pièce jointe
     *
     * @param  \FactPulse\SDK\Model\BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost $body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of mixed|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function ajouterFichierApiV1ChorusProTransversesAjouterFichierPostWithHttpInfo($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post, string $contentType = self::contentTypes['ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'][0])
    {
        $request = $this->ajouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'mixed',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'mixed',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'mixed',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation ajouterFichierApiV1ChorusProTransversesAjouterFichierPostAsync
     *
     * Ajouter une pièce jointe
     *
     * @param  \FactPulse\SDK\Model\BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost $body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function ajouterFichierApiV1ChorusProTransversesAjouterFichierPostAsync($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post, string $contentType = self::contentTypes['ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'][0])
    {
        return $this->ajouterFichierApiV1ChorusProTransversesAjouterFichierPostAsyncWithHttpInfo($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation ajouterFichierApiV1ChorusProTransversesAjouterFichierPostAsyncWithHttpInfo
     *
     * Ajouter une pièce jointe
     *
     * @param  \FactPulse\SDK\Model\BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost $body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function ajouterFichierApiV1ChorusProTransversesAjouterFichierPostAsyncWithHttpInfo($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post, string $contentType = self::contentTypes['ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'][0])
    {
        $returnType = 'mixed';
        $request = $this->ajouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'
     *
     * @param  \FactPulse\SDK\Model\BodyAjouterFichierApiV1ChorusProTransversesAjouterFichierPost $body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function ajouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post, string $contentType = self::contentTypes['ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'][0])
    {

        // verify the required parameter 'body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post' is set
        if ($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post === null || (is_array($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post) && count($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post when calling ajouterFichierApiV1ChorusProTransversesAjouterFichierPost'
            );
        }


        $resourcePath = '/api/v1/chorus-pro/transverses/ajouter-fichier';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post));
            } else {
                $httpBody = $body_ajouter_fichier_api_v1_chorus_pro_transverses_ajouter_fichier_post;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation completerFactureApiV1ChorusProFacturesCompleterPost
     *
     * Compléter une facture suspendue (Fournisseur)
     *
     * @param  \FactPulse\SDK\Model\BodyCompleterFactureApiV1ChorusProFacturesCompleterPost $body_completer_facture_api_v1_chorus_pro_factures_completer_post body_completer_facture_api_v1_chorus_pro_factures_completer_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['completerFactureApiV1ChorusProFacturesCompleterPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return mixed|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function completerFactureApiV1ChorusProFacturesCompleterPost($body_completer_facture_api_v1_chorus_pro_factures_completer_post, string $contentType = self::contentTypes['completerFactureApiV1ChorusProFacturesCompleterPost'][0])
    {
        list($response) = $this->completerFactureApiV1ChorusProFacturesCompleterPostWithHttpInfo($body_completer_facture_api_v1_chorus_pro_factures_completer_post, $contentType);
        return $response;
    }

    /**
     * Operation completerFactureApiV1ChorusProFacturesCompleterPostWithHttpInfo
     *
     * Compléter une facture suspendue (Fournisseur)
     *
     * @param  \FactPulse\SDK\Model\BodyCompleterFactureApiV1ChorusProFacturesCompleterPost $body_completer_facture_api_v1_chorus_pro_factures_completer_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['completerFactureApiV1ChorusProFacturesCompleterPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of mixed|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function completerFactureApiV1ChorusProFacturesCompleterPostWithHttpInfo($body_completer_facture_api_v1_chorus_pro_factures_completer_post, string $contentType = self::contentTypes['completerFactureApiV1ChorusProFacturesCompleterPost'][0])
    {
        $request = $this->completerFactureApiV1ChorusProFacturesCompleterPostRequest($body_completer_facture_api_v1_chorus_pro_factures_completer_post, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'mixed',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'mixed',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'mixed',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation completerFactureApiV1ChorusProFacturesCompleterPostAsync
     *
     * Compléter une facture suspendue (Fournisseur)
     *
     * @param  \FactPulse\SDK\Model\BodyCompleterFactureApiV1ChorusProFacturesCompleterPost $body_completer_facture_api_v1_chorus_pro_factures_completer_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['completerFactureApiV1ChorusProFacturesCompleterPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function completerFactureApiV1ChorusProFacturesCompleterPostAsync($body_completer_facture_api_v1_chorus_pro_factures_completer_post, string $contentType = self::contentTypes['completerFactureApiV1ChorusProFacturesCompleterPost'][0])
    {
        return $this->completerFactureApiV1ChorusProFacturesCompleterPostAsyncWithHttpInfo($body_completer_facture_api_v1_chorus_pro_factures_completer_post, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation completerFactureApiV1ChorusProFacturesCompleterPostAsyncWithHttpInfo
     *
     * Compléter une facture suspendue (Fournisseur)
     *
     * @param  \FactPulse\SDK\Model\BodyCompleterFactureApiV1ChorusProFacturesCompleterPost $body_completer_facture_api_v1_chorus_pro_factures_completer_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['completerFactureApiV1ChorusProFacturesCompleterPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function completerFactureApiV1ChorusProFacturesCompleterPostAsyncWithHttpInfo($body_completer_facture_api_v1_chorus_pro_factures_completer_post, string $contentType = self::contentTypes['completerFactureApiV1ChorusProFacturesCompleterPost'][0])
    {
        $returnType = 'mixed';
        $request = $this->completerFactureApiV1ChorusProFacturesCompleterPostRequest($body_completer_facture_api_v1_chorus_pro_factures_completer_post, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'completerFactureApiV1ChorusProFacturesCompleterPost'
     *
     * @param  \FactPulse\SDK\Model\BodyCompleterFactureApiV1ChorusProFacturesCompleterPost $body_completer_facture_api_v1_chorus_pro_factures_completer_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['completerFactureApiV1ChorusProFacturesCompleterPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function completerFactureApiV1ChorusProFacturesCompleterPostRequest($body_completer_facture_api_v1_chorus_pro_factures_completer_post, string $contentType = self::contentTypes['completerFactureApiV1ChorusProFacturesCompleterPost'][0])
    {

        // verify the required parameter 'body_completer_facture_api_v1_chorus_pro_factures_completer_post' is set
        if ($body_completer_facture_api_v1_chorus_pro_factures_completer_post === null || (is_array($body_completer_facture_api_v1_chorus_pro_factures_completer_post) && count($body_completer_facture_api_v1_chorus_pro_factures_completer_post) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body_completer_facture_api_v1_chorus_pro_factures_completer_post when calling completerFactureApiV1ChorusProFacturesCompleterPost'
            );
        }


        $resourcePath = '/api/v1/chorus-pro/factures/completer';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($body_completer_facture_api_v1_chorus_pro_factures_completer_post)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($body_completer_facture_api_v1_chorus_pro_factures_completer_post));
            } else {
                $httpBody = $body_completer_facture_api_v1_chorus_pro_factures_completer_post;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation consulterFactureApiV1ChorusProFacturesConsulterPost
     *
     * Consulter le statut d&#39;une facture
     *
     * @param  \FactPulse\SDK\Model\ConsulterFactureRequest $consulter_facture_request consulter_facture_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['consulterFactureApiV1ChorusProFacturesConsulterPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\ConsulterFactureResponse|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function consulterFactureApiV1ChorusProFacturesConsulterPost($consulter_facture_request, string $contentType = self::contentTypes['consulterFactureApiV1ChorusProFacturesConsulterPost'][0])
    {
        list($response) = $this->consulterFactureApiV1ChorusProFacturesConsulterPostWithHttpInfo($consulter_facture_request, $contentType);
        return $response;
    }

    /**
     * Operation consulterFactureApiV1ChorusProFacturesConsulterPostWithHttpInfo
     *
     * Consulter le statut d&#39;une facture
     *
     * @param  \FactPulse\SDK\Model\ConsulterFactureRequest $consulter_facture_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['consulterFactureApiV1ChorusProFacturesConsulterPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\ConsulterFactureResponse|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function consulterFactureApiV1ChorusProFacturesConsulterPostWithHttpInfo($consulter_facture_request, string $contentType = self::contentTypes['consulterFactureApiV1ChorusProFacturesConsulterPost'][0])
    {
        $request = $this->consulterFactureApiV1ChorusProFacturesConsulterPostRequest($consulter_facture_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\ConsulterFactureResponse',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\ConsulterFactureResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\ConsulterFactureResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation consulterFactureApiV1ChorusProFacturesConsulterPostAsync
     *
     * Consulter le statut d&#39;une facture
     *
     * @param  \FactPulse\SDK\Model\ConsulterFactureRequest $consulter_facture_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['consulterFactureApiV1ChorusProFacturesConsulterPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function consulterFactureApiV1ChorusProFacturesConsulterPostAsync($consulter_facture_request, string $contentType = self::contentTypes['consulterFactureApiV1ChorusProFacturesConsulterPost'][0])
    {
        return $this->consulterFactureApiV1ChorusProFacturesConsulterPostAsyncWithHttpInfo($consulter_facture_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation consulterFactureApiV1ChorusProFacturesConsulterPostAsyncWithHttpInfo
     *
     * Consulter le statut d&#39;une facture
     *
     * @param  \FactPulse\SDK\Model\ConsulterFactureRequest $consulter_facture_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['consulterFactureApiV1ChorusProFacturesConsulterPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function consulterFactureApiV1ChorusProFacturesConsulterPostAsyncWithHttpInfo($consulter_facture_request, string $contentType = self::contentTypes['consulterFactureApiV1ChorusProFacturesConsulterPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\ConsulterFactureResponse';
        $request = $this->consulterFactureApiV1ChorusProFacturesConsulterPostRequest($consulter_facture_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'consulterFactureApiV1ChorusProFacturesConsulterPost'
     *
     * @param  \FactPulse\SDK\Model\ConsulterFactureRequest $consulter_facture_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['consulterFactureApiV1ChorusProFacturesConsulterPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function consulterFactureApiV1ChorusProFacturesConsulterPostRequest($consulter_facture_request, string $contentType = self::contentTypes['consulterFactureApiV1ChorusProFacturesConsulterPost'][0])
    {

        // verify the required parameter 'consulter_facture_request' is set
        if ($consulter_facture_request === null || (is_array($consulter_facture_request) && count($consulter_facture_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $consulter_facture_request when calling consulterFactureApiV1ChorusProFacturesConsulterPost'
            );
        }


        $resourcePath = '/api/v1/chorus-pro/factures/consulter';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($consulter_facture_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($consulter_facture_request));
            } else {
                $httpBody = $consulter_facture_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation consulterStructureApiV1ChorusProStructuresConsulterPost
     *
     * Consulter les détails d&#39;une structure
     *
     * @param  \FactPulse\SDK\Model\ConsulterStructureRequest $consulter_structure_request consulter_structure_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['consulterStructureApiV1ChorusProStructuresConsulterPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\ConsulterStructureResponse|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function consulterStructureApiV1ChorusProStructuresConsulterPost($consulter_structure_request, string $contentType = self::contentTypes['consulterStructureApiV1ChorusProStructuresConsulterPost'][0])
    {
        list($response) = $this->consulterStructureApiV1ChorusProStructuresConsulterPostWithHttpInfo($consulter_structure_request, $contentType);
        return $response;
    }

    /**
     * Operation consulterStructureApiV1ChorusProStructuresConsulterPostWithHttpInfo
     *
     * Consulter les détails d&#39;une structure
     *
     * @param  \FactPulse\SDK\Model\ConsulterStructureRequest $consulter_structure_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['consulterStructureApiV1ChorusProStructuresConsulterPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\ConsulterStructureResponse|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function consulterStructureApiV1ChorusProStructuresConsulterPostWithHttpInfo($consulter_structure_request, string $contentType = self::contentTypes['consulterStructureApiV1ChorusProStructuresConsulterPost'][0])
    {
        $request = $this->consulterStructureApiV1ChorusProStructuresConsulterPostRequest($consulter_structure_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\ConsulterStructureResponse',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\ConsulterStructureResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\ConsulterStructureResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation consulterStructureApiV1ChorusProStructuresConsulterPostAsync
     *
     * Consulter les détails d&#39;une structure
     *
     * @param  \FactPulse\SDK\Model\ConsulterStructureRequest $consulter_structure_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['consulterStructureApiV1ChorusProStructuresConsulterPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function consulterStructureApiV1ChorusProStructuresConsulterPostAsync($consulter_structure_request, string $contentType = self::contentTypes['consulterStructureApiV1ChorusProStructuresConsulterPost'][0])
    {
        return $this->consulterStructureApiV1ChorusProStructuresConsulterPostAsyncWithHttpInfo($consulter_structure_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation consulterStructureApiV1ChorusProStructuresConsulterPostAsyncWithHttpInfo
     *
     * Consulter les détails d&#39;une structure
     *
     * @param  \FactPulse\SDK\Model\ConsulterStructureRequest $consulter_structure_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['consulterStructureApiV1ChorusProStructuresConsulterPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function consulterStructureApiV1ChorusProStructuresConsulterPostAsyncWithHttpInfo($consulter_structure_request, string $contentType = self::contentTypes['consulterStructureApiV1ChorusProStructuresConsulterPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\ConsulterStructureResponse';
        $request = $this->consulterStructureApiV1ChorusProStructuresConsulterPostRequest($consulter_structure_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'consulterStructureApiV1ChorusProStructuresConsulterPost'
     *
     * @param  \FactPulse\SDK\Model\ConsulterStructureRequest $consulter_structure_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['consulterStructureApiV1ChorusProStructuresConsulterPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function consulterStructureApiV1ChorusProStructuresConsulterPostRequest($consulter_structure_request, string $contentType = self::contentTypes['consulterStructureApiV1ChorusProStructuresConsulterPost'][0])
    {

        // verify the required parameter 'consulter_structure_request' is set
        if ($consulter_structure_request === null || (is_array($consulter_structure_request) && count($consulter_structure_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $consulter_structure_request when calling consulterStructureApiV1ChorusProStructuresConsulterPost'
            );
        }


        $resourcePath = '/api/v1/chorus-pro/structures/consulter';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($consulter_structure_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($consulter_structure_request));
            } else {
                $httpBody = $consulter_structure_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet
     *
     * Lister les services d&#39;une structure
     *
     * @param  int $id_structure_cpp id_structure_cpp (required)
     * @param  \FactPulse\SDK\Model\BodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\RechercherServicesResponse|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet($id_structure_cpp, $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get, string $contentType = self::contentTypes['listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'][0])
    {
        list($response) = $this->listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetWithHttpInfo($id_structure_cpp, $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get, $contentType);
        return $response;
    }

    /**
     * Operation listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetWithHttpInfo
     *
     * Lister les services d&#39;une structure
     *
     * @param  int $id_structure_cpp (required)
     * @param  \FactPulse\SDK\Model\BodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\RechercherServicesResponse|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetWithHttpInfo($id_structure_cpp, $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get, string $contentType = self::contentTypes['listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'][0])
    {
        $request = $this->listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetRequest($id_structure_cpp, $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\RechercherServicesResponse',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\RechercherServicesResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\RechercherServicesResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetAsync
     *
     * Lister les services d&#39;une structure
     *
     * @param  int $id_structure_cpp (required)
     * @param  \FactPulse\SDK\Model\BodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetAsync($id_structure_cpp, $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get, string $contentType = self::contentTypes['listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'][0])
    {
        return $this->listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetAsyncWithHttpInfo($id_structure_cpp, $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetAsyncWithHttpInfo
     *
     * Lister les services d&#39;une structure
     *
     * @param  int $id_structure_cpp (required)
     * @param  \FactPulse\SDK\Model\BodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetAsyncWithHttpInfo($id_structure_cpp, $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get, string $contentType = self::contentTypes['listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'][0])
    {
        $returnType = '\FactPulse\SDK\Model\RechercherServicesResponse';
        $request = $this->listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetRequest($id_structure_cpp, $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'
     *
     * @param  int $id_structure_cpp (required)
     * @param  \FactPulse\SDK\Model\BodyListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetRequest($id_structure_cpp, $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get, string $contentType = self::contentTypes['listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'][0])
    {

        // verify the required parameter 'id_structure_cpp' is set
        if ($id_structure_cpp === null || (is_array($id_structure_cpp) && count($id_structure_cpp) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $id_structure_cpp when calling listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'
            );
        }

        // verify the required parameter 'body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get' is set
        if ($body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get === null || (is_array($body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get) && count($body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get when calling listerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet'
            );
        }


        $resourcePath = '/api/v1/chorus-pro/structures/{id_structure_cpp}/services';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($id_structure_cpp !== null) {
            $resourcePath = str_replace(
                '{' . 'id_structure_cpp' . '}',
                ObjectSerializer::toPathValue($id_structure_cpp),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get));
            } else {
                $httpBody = $body_lister_services_structure_api_v1_chorus_pro_structures_id_structure_cpp_services_get;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost
     *
     * Utilitaire : Obtenir l&#39;ID Chorus Pro depuis un SIRET
     *
     * @param  \FactPulse\SDK\Model\ObtenirIdChorusProRequest $obtenir_id_chorus_pro_request obtenir_id_chorus_pro_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\ObtenirIdChorusProResponse|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost($obtenir_id_chorus_pro_request, string $contentType = self::contentTypes['obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'][0])
    {
        list($response) = $this->obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostWithHttpInfo($obtenir_id_chorus_pro_request, $contentType);
        return $response;
    }

    /**
     * Operation obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostWithHttpInfo
     *
     * Utilitaire : Obtenir l&#39;ID Chorus Pro depuis un SIRET
     *
     * @param  \FactPulse\SDK\Model\ObtenirIdChorusProRequest $obtenir_id_chorus_pro_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\ObtenirIdChorusProResponse|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostWithHttpInfo($obtenir_id_chorus_pro_request, string $contentType = self::contentTypes['obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'][0])
    {
        $request = $this->obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest($obtenir_id_chorus_pro_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\ObtenirIdChorusProResponse',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\ObtenirIdChorusProResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\ObtenirIdChorusProResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostAsync
     *
     * Utilitaire : Obtenir l&#39;ID Chorus Pro depuis un SIRET
     *
     * @param  \FactPulse\SDK\Model\ObtenirIdChorusProRequest $obtenir_id_chorus_pro_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostAsync($obtenir_id_chorus_pro_request, string $contentType = self::contentTypes['obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'][0])
    {
        return $this->obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostAsyncWithHttpInfo($obtenir_id_chorus_pro_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostAsyncWithHttpInfo
     *
     * Utilitaire : Obtenir l&#39;ID Chorus Pro depuis un SIRET
     *
     * @param  \FactPulse\SDK\Model\ObtenirIdChorusProRequest $obtenir_id_chorus_pro_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostAsyncWithHttpInfo($obtenir_id_chorus_pro_request, string $contentType = self::contentTypes['obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\ObtenirIdChorusProResponse';
        $request = $this->obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest($obtenir_id_chorus_pro_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'
     *
     * @param  \FactPulse\SDK\Model\ObtenirIdChorusProRequest $obtenir_id_chorus_pro_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest($obtenir_id_chorus_pro_request, string $contentType = self::contentTypes['obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'][0])
    {

        // verify the required parameter 'obtenir_id_chorus_pro_request' is set
        if ($obtenir_id_chorus_pro_request === null || (is_array($obtenir_id_chorus_pro_request) && count($obtenir_id_chorus_pro_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $obtenir_id_chorus_pro_request when calling obtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost'
            );
        }


        $resourcePath = '/api/v1/chorus-pro/structures/obtenir-id-depuis-siret';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($obtenir_id_chorus_pro_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($obtenir_id_chorus_pro_request));
            } else {
                $httpBody = $obtenir_id_chorus_pro_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost
     *
     * Rechercher factures reçues (Destinataire)
     *
     * @param  \FactPulse\SDK\Model\BodyRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost $body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return mixed|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost($body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post, string $contentType = self::contentTypes['rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost'][0])
    {
        list($response) = $this->rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostWithHttpInfo($body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post, $contentType);
        return $response;
    }

    /**
     * Operation rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostWithHttpInfo
     *
     * Rechercher factures reçues (Destinataire)
     *
     * @param  \FactPulse\SDK\Model\BodyRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost $body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of mixed|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostWithHttpInfo($body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post, string $contentType = self::contentTypes['rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost'][0])
    {
        $request = $this->rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostRequest($body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'mixed',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'mixed',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'mixed',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostAsync
     *
     * Rechercher factures reçues (Destinataire)
     *
     * @param  \FactPulse\SDK\Model\BodyRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost $body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostAsync($body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post, string $contentType = self::contentTypes['rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost'][0])
    {
        return $this->rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostAsyncWithHttpInfo($body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostAsyncWithHttpInfo
     *
     * Rechercher factures reçues (Destinataire)
     *
     * @param  \FactPulse\SDK\Model\BodyRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost $body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostAsyncWithHttpInfo($body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post, string $contentType = self::contentTypes['rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost'][0])
    {
        $returnType = 'mixed';
        $request = $this->rechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostRequest($body_rechercher_factures_destinataire_api_v1_chorus_pro_factures_rechercher_destinataire_post, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
[...]
