<?php
/**
 * DocumentConversionApi
 * PHP version 8.1
 *
 * @category Class
 * @package  OpenAPI\Client
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * FactPulse REST API
 *
 * REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.19.0-SNAPSHOT
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace OpenAPI\Client\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use OpenAPI\Client\ApiException;
use OpenAPI\Client\Configuration;
use OpenAPI\Client\FormDataProcessor;
use OpenAPI\Client\HeaderSelector;
use OpenAPI\Client\ObjectSerializer;

/**
 * DocumentConversionApi Class Doc Comment
 *
 * @category Class
 * @package  OpenAPI\Client
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class DocumentConversionApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'convertDocumentAsyncApiV1ConvertAsyncPost' => [
            'multipart/form-data',
        ],
        'downloadFileApiV1ConvertConversionIdDownloadFilenameGet' => [
            'application/json',
        ],
        'getConversionStatusApiV1ConvertConversionIdStatusGet' => [
            'application/json',
        ],
        'resumeConversionApiV1ConvertConversionIdResumePost' => [
            'application/json',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation convertDocumentAsyncApiV1ConvertAsyncPost
     *
     * Convertir un document en Factur-X (mode asynchrone)
     *
     * @param  \SplFileObject $file Document à convertir (PDF, DOCX, XLSX, JPG, PNG) (required)
     * @param  string|null $output Format de sortie: pdf, xml, both (optional, default to 'pdf')
     * @param  string|null $callback_url callback_url (optional)
     * @param  string|null $webhook_mode Mode de livraison du contenu: &#39;inline&#39; (base64 dans webhook) ou &#39;download_url&#39; (URL temporaire 1h) (optional, default to 'inline')
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['convertDocumentAsyncApiV1ConvertAsyncPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return mixed|\OpenAPI\Client\Model\HTTPValidationError|\OpenAPI\Client\Model\APIError
     */
    public function convertDocumentAsyncApiV1ConvertAsyncPost($file, $output = 'pdf', $callback_url = null, $webhook_mode = 'inline', string $contentType = self::contentTypes['convertDocumentAsyncApiV1ConvertAsyncPost'][0])
    {
        list($response) = $this->convertDocumentAsyncApiV1ConvertAsyncPostWithHttpInfo($file, $output, $callback_url, $webhook_mode, $contentType);
        return $response;
    }

    /**
     * Operation convertDocumentAsyncApiV1ConvertAsyncPostWithHttpInfo
     *
     * Convertir un document en Factur-X (mode asynchrone)
     *
     * @param  \SplFileObject $file Document à convertir (PDF, DOCX, XLSX, JPG, PNG) (required)
     * @param  string|null $output Format de sortie: pdf, xml, both (optional, default to 'pdf')
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Mode de livraison du contenu: &#39;inline&#39; (base64 dans webhook) ou &#39;download_url&#39; (URL temporaire 1h) (optional, default to 'inline')
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['convertDocumentAsyncApiV1ConvertAsyncPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of mixed|\OpenAPI\Client\Model\HTTPValidationError|\OpenAPI\Client\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function convertDocumentAsyncApiV1ConvertAsyncPostWithHttpInfo($file, $output = 'pdf', $callback_url = null, $webhook_mode = 'inline', string $contentType = self::contentTypes['convertDocumentAsyncApiV1ConvertAsyncPost'][0])
    {
        $request = $this->convertDocumentAsyncApiV1ConvertAsyncPostRequest($file, $output, $callback_url, $webhook_mode, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'mixed',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'mixed',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'mixed',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation convertDocumentAsyncApiV1ConvertAsyncPostAsync
     *
     * Convertir un document en Factur-X (mode asynchrone)
     *
     * @param  \SplFileObject $file Document à convertir (PDF, DOCX, XLSX, JPG, PNG) (required)
     * @param  string|null $output Format de sortie: pdf, xml, both (optional, default to 'pdf')
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Mode de livraison du contenu: &#39;inline&#39; (base64 dans webhook) ou &#39;download_url&#39; (URL temporaire 1h) (optional, default to 'inline')
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['convertDocumentAsyncApiV1ConvertAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function convertDocumentAsyncApiV1ConvertAsyncPostAsync($file, $output = 'pdf', $callback_url = null, $webhook_mode = 'inline', string $contentType = self::contentTypes['convertDocumentAsyncApiV1ConvertAsyncPost'][0])
    {
        return $this->convertDocumentAsyncApiV1ConvertAsyncPostAsyncWithHttpInfo($file, $output, $callback_url, $webhook_mode, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation convertDocumentAsyncApiV1ConvertAsyncPostAsyncWithHttpInfo
     *
     * Convertir un document en Factur-X (mode asynchrone)
     *
     * @param  \SplFileObject $file Document à convertir (PDF, DOCX, XLSX, JPG, PNG) (required)
     * @param  string|null $output Format de sortie: pdf, xml, both (optional, default to 'pdf')
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Mode de livraison du contenu: &#39;inline&#39; (base64 dans webhook) ou &#39;download_url&#39; (URL temporaire 1h) (optional, default to 'inline')
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['convertDocumentAsyncApiV1ConvertAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function convertDocumentAsyncApiV1ConvertAsyncPostAsyncWithHttpInfo($file, $output = 'pdf', $callback_url = null, $webhook_mode = 'inline', string $contentType = self::contentTypes['convertDocumentAsyncApiV1ConvertAsyncPost'][0])
    {
        $returnType = 'mixed';
        $request = $this->convertDocumentAsyncApiV1ConvertAsyncPostRequest($file, $output, $callback_url, $webhook_mode, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'convertDocumentAsyncApiV1ConvertAsyncPost'
     *
     * @param  \SplFileObject $file Document à convertir (PDF, DOCX, XLSX, JPG, PNG) (required)
     * @param  string|null $output Format de sortie: pdf, xml, both (optional, default to 'pdf')
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Mode de livraison du contenu: &#39;inline&#39; (base64 dans webhook) ou &#39;download_url&#39; (URL temporaire 1h) (optional, default to 'inline')
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['convertDocumentAsyncApiV1ConvertAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function convertDocumentAsyncApiV1ConvertAsyncPostRequest($file, $output = 'pdf', $callback_url = null, $webhook_mode = 'inline', string $contentType = self::contentTypes['convertDocumentAsyncApiV1ConvertAsyncPost'][0])
    {

        // verify the required parameter 'file' is set
        if ($file === null || (is_array($file) && count($file) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $file when calling convertDocumentAsyncApiV1ConvertAsyncPost'
            );
        }





        $resourcePath = '/api/v1/convert/async';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;




        // form params
        $formDataProcessor = new FormDataProcessor();

        $formData = $formDataProcessor->prepare([
            'file' => $file,
            'output' => $output,
            'callback_url' => $callback_url,
            'webhook_mode' => $webhook_mode,
        ]);

        $formParams = $formDataProcessor->flatten($formData);
        $multipart = $formDataProcessor->has_file;

        $multipart = true;
        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation downloadFileApiV1ConvertConversionIdDownloadFilenameGet
     *
     * Télécharger un fichier généré
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  string $filename File to download: &#39;facturx.pdf&#39; or &#39;facturx.xml&#39; (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['downloadFileApiV1ConvertConversionIdDownloadFilenameGet'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return mixed|\OpenAPI\Client\Model\HTTPValidationError|\OpenAPI\Client\Model\APIError
     */
    public function downloadFileApiV1ConvertConversionIdDownloadFilenameGet($conversion_id, $filename, string $contentType = self::contentTypes['downloadFileApiV1ConvertConversionIdDownloadFilenameGet'][0])
    {
        list($response) = $this->downloadFileApiV1ConvertConversionIdDownloadFilenameGetWithHttpInfo($conversion_id, $filename, $contentType);
        return $response;
    }

    /**
     * Operation downloadFileApiV1ConvertConversionIdDownloadFilenameGetWithHttpInfo
     *
     * Télécharger un fichier généré
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  string $filename File to download: &#39;facturx.pdf&#39; or &#39;facturx.xml&#39; (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['downloadFileApiV1ConvertConversionIdDownloadFilenameGet'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of mixed|\OpenAPI\Client\Model\HTTPValidationError|\OpenAPI\Client\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function downloadFileApiV1ConvertConversionIdDownloadFilenameGetWithHttpInfo($conversion_id, $filename, string $contentType = self::contentTypes['downloadFileApiV1ConvertConversionIdDownloadFilenameGet'][0])
    {
        $request = $this->downloadFileApiV1ConvertConversionIdDownloadFilenameGetRequest($conversion_id, $filename, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'mixed',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'mixed',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'mixed',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation downloadFileApiV1ConvertConversionIdDownloadFilenameGetAsync
     *
     * Télécharger un fichier généré
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  string $filename File to download: &#39;facturx.pdf&#39; or &#39;facturx.xml&#39; (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['downloadFileApiV1ConvertConversionIdDownloadFilenameGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function downloadFileApiV1ConvertConversionIdDownloadFilenameGetAsync($conversion_id, $filename, string $contentType = self::contentTypes['downloadFileApiV1ConvertConversionIdDownloadFilenameGet'][0])
    {
        return $this->downloadFileApiV1ConvertConversionIdDownloadFilenameGetAsyncWithHttpInfo($conversion_id, $filename, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation downloadFileApiV1ConvertConversionIdDownloadFilenameGetAsyncWithHttpInfo
     *
     * Télécharger un fichier généré
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  string $filename File to download: &#39;facturx.pdf&#39; or &#39;facturx.xml&#39; (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['downloadFileApiV1ConvertConversionIdDownloadFilenameGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function downloadFileApiV1ConvertConversionIdDownloadFilenameGetAsyncWithHttpInfo($conversion_id, $filename, string $contentType = self::contentTypes['downloadFileApiV1ConvertConversionIdDownloadFilenameGet'][0])
    {
        $returnType = 'mixed';
        $request = $this->downloadFileApiV1ConvertConversionIdDownloadFilenameGetRequest($conversion_id, $filename, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'downloadFileApiV1ConvertConversionIdDownloadFilenameGet'
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  string $filename File to download: &#39;facturx.pdf&#39; or &#39;facturx.xml&#39; (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['downloadFileApiV1ConvertConversionIdDownloadFilenameGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function downloadFileApiV1ConvertConversionIdDownloadFilenameGetRequest($conversion_id, $filename, string $contentType = self::contentTypes['downloadFileApiV1ConvertConversionIdDownloadFilenameGet'][0])
    {

        // verify the required parameter 'conversion_id' is set
        if ($conversion_id === null || (is_array($conversion_id) && count($conversion_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $conversion_id when calling downloadFileApiV1ConvertConversionIdDownloadFilenameGet'
            );
        }

        // verify the required parameter 'filename' is set
        if ($filename === null || (is_array($filename) && count($filename) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $filename when calling downloadFileApiV1ConvertConversionIdDownloadFilenameGet'
            );
        }


        $resourcePath = '/api/v1/convert/{conversion_id}/download/{filename}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($conversion_id !== null) {
            $resourcePath = str_replace(
                '{' . 'conversion_id' . '}',
                ObjectSerializer::toPathValue($conversion_id),
                $resourcePath
            );
        }
        // path params
        if ($filename !== null) {
            $resourcePath = str_replace(
                '{' . 'filename' . '}',
                ObjectSerializer::toPathValue($filename),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getConversionStatusApiV1ConvertConversionIdStatusGet
     *
     * Vérifier le statut d&#39;une conversion
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getConversionStatusApiV1ConvertConversionIdStatusGet'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array<string,mixed>|\OpenAPI\Client\Model\HTTPValidationError|\OpenAPI\Client\Model\APIError
     */
    public function getConversionStatusApiV1ConvertConversionIdStatusGet($conversion_id, string $contentType = self::contentTypes['getConversionStatusApiV1ConvertConversionIdStatusGet'][0])
    {
        list($response) = $this->getConversionStatusApiV1ConvertConversionIdStatusGetWithHttpInfo($conversion_id, $contentType);
        return $response;
    }

    /**
     * Operation getConversionStatusApiV1ConvertConversionIdStatusGetWithHttpInfo
     *
     * Vérifier le statut d&#39;une conversion
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getConversionStatusApiV1ConvertConversionIdStatusGet'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of array<string,mixed>|\OpenAPI\Client\Model\HTTPValidationError|\OpenAPI\Client\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function getConversionStatusApiV1ConvertConversionIdStatusGetWithHttpInfo($conversion_id, string $contentType = self::contentTypes['getConversionStatusApiV1ConvertConversionIdStatusGet'][0])
    {
        $request = $this->getConversionStatusApiV1ConvertConversionIdStatusGetRequest($conversion_id, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'array<string,mixed>',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'array<string,mixed>',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'array<string,mixed>',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation getConversionStatusApiV1ConvertConversionIdStatusGetAsync
     *
     * Vérifier le statut d&#39;une conversion
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getConversionStatusApiV1ConvertConversionIdStatusGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getConversionStatusApiV1ConvertConversionIdStatusGetAsync($conversion_id, string $contentType = self::contentTypes['getConversionStatusApiV1ConvertConversionIdStatusGet'][0])
    {
        return $this->getConversionStatusApiV1ConvertConversionIdStatusGetAsyncWithHttpInfo($conversion_id, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getConversionStatusApiV1ConvertConversionIdStatusGetAsyncWithHttpInfo
     *
     * Vérifier le statut d&#39;une conversion
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getConversionStatusApiV1ConvertConversionIdStatusGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getConversionStatusApiV1ConvertConversionIdStatusGetAsyncWithHttpInfo($conversion_id, string $contentType = self::contentTypes['getConversionStatusApiV1ConvertConversionIdStatusGet'][0])
    {
        $returnType = 'array<string,mixed>';
        $request = $this->getConversionStatusApiV1ConvertConversionIdStatusGetRequest($conversion_id, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getConversionStatusApiV1ConvertConversionIdStatusGet'
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getConversionStatusApiV1ConvertConversionIdStatusGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getConversionStatusApiV1ConvertConversionIdStatusGetRequest($conversion_id, string $contentType = self::contentTypes['getConversionStatusApiV1ConvertConversionIdStatusGet'][0])
    {

        // verify the required parameter 'conversion_id' is set
        if ($conversion_id === null || (is_array($conversion_id) && count($conversion_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $conversion_id when calling getConversionStatusApiV1ConvertConversionIdStatusGet'
            );
        }


        $resourcePath = '/api/v1/convert/{conversion_id}/status';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($conversion_id !== null) {
            $resourcePath = str_replace(
                '{' . 'conversion_id' . '}',
                ObjectSerializer::toPathValue($conversion_id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation resumeConversionApiV1ConvertConversionIdResumePost
     *
     * Reprendre une conversion avec corrections
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  \OpenAPI\Client\Model\ConvertResumeRequest $convert_resume_request convert_resume_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['resumeConversionApiV1ConvertConversionIdResumePost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \OpenAPI\Client\Model\ConvertSuccessResponse|\OpenAPI\Client\Model\ConvertValidationFailedResponse|\OpenAPI\Client\Model\APIError
     */
    public function resumeConversionApiV1ConvertConversionIdResumePost($conversion_id, $convert_resume_request, string $contentType = self::contentTypes['resumeConversionApiV1ConvertConversionIdResumePost'][0])
    {
        list($response) = $this->resumeConversionApiV1ConvertConversionIdResumePostWithHttpInfo($conversion_id, $convert_resume_request, $contentType);
        return $response;
    }

    /**
     * Operation resumeConversionApiV1ConvertConversionIdResumePostWithHttpInfo
     *
     * Reprendre une conversion avec corrections
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  \OpenAPI\Client\Model\ConvertResumeRequest $convert_resume_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['resumeConversionApiV1ConvertConversionIdResumePost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \OpenAPI\Client\Model\ConvertSuccessResponse|\OpenAPI\Client\Model\ConvertValidationFailedResponse|\OpenAPI\Client\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function resumeConversionApiV1ConvertConversionIdResumePostWithHttpInfo($conversion_id, $convert_resume_request, string $contentType = self::contentTypes['resumeConversionApiV1ConvertConversionIdResumePost'][0])
    {
        $request = $this->resumeConversionApiV1ConvertConversionIdResumePostRequest($conversion_id, $convert_resume_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\ConvertSuccessResponse',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\ConvertValidationFailedResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\OpenAPI\Client\Model\ConvertSuccessResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\ConvertSuccessResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\ConvertValidationFailedResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation resumeConversionApiV1ConvertConversionIdResumePostAsync
     *
     * Reprendre une conversion avec corrections
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  \OpenAPI\Client\Model\ConvertResumeRequest $convert_resume_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['resumeConversionApiV1ConvertConversionIdResumePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function resumeConversionApiV1ConvertConversionIdResumePostAsync($conversion_id, $convert_resume_request, string $contentType = self::contentTypes['resumeConversionApiV1ConvertConversionIdResumePost'][0])
    {
        return $this->resumeConversionApiV1ConvertConversionIdResumePostAsyncWithHttpInfo($conversion_id, $convert_resume_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation resumeConversionApiV1ConvertConversionIdResumePostAsyncWithHttpInfo
     *
     * Reprendre une conversion avec corrections
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  \OpenAPI\Client\Model\ConvertResumeRequest $convert_resume_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['resumeConversionApiV1ConvertConversionIdResumePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function resumeConversionApiV1ConvertConversionIdResumePostAsyncWithHttpInfo($conversion_id, $convert_resume_request, string $contentType = self::contentTypes['resumeConversionApiV1ConvertConversionIdResumePost'][0])
    {
        $returnType = '\OpenAPI\Client\Model\ConvertSuccessResponse';
        $request = $this->resumeConversionApiV1ConvertConversionIdResumePostRequest($conversion_id, $convert_resume_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'resumeConversionApiV1ConvertConversionIdResumePost'
     *
     * @param  string $conversion_id Conversion ID returned by POST /convert (UUID format) (required)
     * @param  \OpenAPI\Client\Model\ConvertResumeRequest $convert_resume_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['resumeConversionApiV1ConvertConversionIdResumePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function resumeConversionApiV1ConvertConversionIdResumePostRequest($conversion_id, $convert_resume_request, string $contentType = self::contentTypes['resumeConversionApiV1ConvertConversionIdResumePost'][0])
    {

        // verify the required parameter 'conversion_id' is set
        if ($conversion_id === null || (is_array($conversion_id) && count($conversion_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $conversion_id when calling resumeConversionApiV1ConvertConversionIdResumePost'
            );
        }

        // verify the required parameter 'convert_resume_request' is set
        if ($convert_resume_request === null || (is_array($convert_resume_request) && count($convert_resume_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $convert_resume_request when calling resumeConversionApiV1ConvertConversionIdResumePost'
            );
        }


        $resourcePath = '/api/v1/convert/{conversion_id}/resume';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($conversion_id !== null) {
            $resourcePath = str_replace(
                '{' . 'conversion_id' . '}',
                ObjectSerializer::toPathValue($conversion_id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($convert_resume_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($convert_resume_request));
            } else {
                $httpBody = $convert_resume_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        if ($this->config->getCertFile()) {
            $options[RequestOptions::CERT] = $this->config->getCertFile();
        }

        if ($this->config->getKeyFile()) {
            $options[RequestOptions::SSL_KEY] = $this->config->getKeyFile();
        }

        return $options;
    }

    private function handleResponseWithDataType(
        string $dataType,
        RequestInterface $request,
        ResponseInterface $response
    ): array {
        if ($dataType === '\SplFileObject') {
            $content = $response->getBody(); //stream goes to serializer
        } else {
            $content = (string) $response->getBody();
            if ($dataType !== 'string') {
                try {
                    $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                } catch (\JsonException $exception) {
                    throw new ApiException(
                        sprintf(
                            'Error JSON decoding server response (%s)',
                            $request->getUri()
                        ),
                        $response->getStatusCode(),
                        $response->getHeaders(),
                        $content
                    );
                }
            }
        }

        return [
            ObjectSerializer::deserialize($content, $dataType, []),
            $response->getStatusCode(),
            $response->getHeaders()
        ];
    }

    private function responseWithinRangeCode(
        string $rangeCode,
        int $statusCode
    ): bool {
        $left = (int) ($rangeCode[0].'00');
        $right = (int) ($rangeCode[0].'99');

        return $statusCode >= $left && $statusCode <= $right;
    }
}
