<?php
/**
 * EReportingApi
 * PHP version 8.1
 *
 * @category Class
 * @package  OpenAPI\Client
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * FactPulse REST API
 *
 * REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.19.0-SNAPSHOT
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace OpenAPI\Client\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use OpenAPI\Client\ApiException;
use OpenAPI\Client\Configuration;
use OpenAPI\Client\FormDataProcessor;
use OpenAPI\Client\HeaderSelector;
use OpenAPI\Client\ObjectSerializer;

/**
 * EReportingApi Class Doc Comment
 *
 * @category Class
 * @package  OpenAPI\Client
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class EReportingApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost' => [
            'application/json',
        ],
        'generateEreportingApiV1EreportingGeneratePost' => [
            'application/json',
        ],
        'generateEreportingDownloadApiV1EreportingGenerateDownloadPost' => [
            'application/json',
        ],
        'listCategoryCodesApiV1EreportingCategoryCodesGet' => [
            'application/json',
        ],
        'listFlowTypesApiV1EreportingFlowTypesGet' => [
            'application/json',
        ],
        'submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost' => [
            'application/json',
        ],
        'submitEreportingApiV1EreportingSubmitPost' => [
            'application/json',
        ],
        'submitXmlEreportingApiV1EreportingSubmitXmlPost' => [
            'multipart/form-data',
        ],
        'validateAggregatedEreportingApiV1EreportingValidateAggregatedPost' => [
            'application/json',
        ],
        'validateEreportingApiV1EreportingValidatePost' => [
            'application/json',
        ],
        'validateXmlEreportingApiV1EreportingValidateXmlPost' => [
            'multipart/form-data',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost
     *
     * Generate aggregated e-reporting XML (PPF-compliant)
     *
     * @param  \OpenAPI\Client\Model\CreateAggregatedReportRequest $create_aggregated_report_request create_aggregated_report_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \OpenAPI\Client\Model\GenerateAggregatedReportResponse|\OpenAPI\Client\Model\APIError
     */
    public function generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost($create_aggregated_report_request, string $contentType = self::contentTypes['generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'][0])
    {
        list($response) = $this->generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostWithHttpInfo($create_aggregated_report_request, $contentType);
        return $response;
    }

    /**
     * Operation generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostWithHttpInfo
     *
     * Generate aggregated e-reporting XML (PPF-compliant)
     *
     * @param  \OpenAPI\Client\Model\CreateAggregatedReportRequest $create_aggregated_report_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \OpenAPI\Client\Model\GenerateAggregatedReportResponse|\OpenAPI\Client\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostWithHttpInfo($create_aggregated_report_request, string $contentType = self::contentTypes['generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'][0])
    {
        $request = $this->generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostRequest($create_aggregated_report_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\GenerateAggregatedReportResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\OpenAPI\Client\Model\GenerateAggregatedReportResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\GenerateAggregatedReportResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostAsync
     *
     * Generate aggregated e-reporting XML (PPF-compliant)
     *
     * @param  \OpenAPI\Client\Model\CreateAggregatedReportRequest $create_aggregated_report_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostAsync($create_aggregated_report_request, string $contentType = self::contentTypes['generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'][0])
    {
        return $this->generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostAsyncWithHttpInfo($create_aggregated_report_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostAsyncWithHttpInfo
     *
     * Generate aggregated e-reporting XML (PPF-compliant)
     *
     * @param  \OpenAPI\Client\Model\CreateAggregatedReportRequest $create_aggregated_report_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostAsyncWithHttpInfo($create_aggregated_report_request, string $contentType = self::contentTypes['generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'][0])
    {
        $returnType = '\OpenAPI\Client\Model\GenerateAggregatedReportResponse';
        $request = $this->generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostRequest($create_aggregated_report_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'
     *
     * @param  \OpenAPI\Client\Model\CreateAggregatedReportRequest $create_aggregated_report_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function generateAggregatedEreportingApiV1EreportingGenerateAggregatedPostRequest($create_aggregated_report_request, string $contentType = self::contentTypes['generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'][0])
    {

        // verify the required parameter 'create_aggregated_report_request' is set
        if ($create_aggregated_report_request === null || (is_array($create_aggregated_report_request) && count($create_aggregated_report_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $create_aggregated_report_request when calling generateAggregatedEreportingApiV1EreportingGenerateAggregatedPost'
            );
        }


        $resourcePath = '/api/v1/ereporting/generate-aggregated';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($create_aggregated_report_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($create_aggregated_report_request));
            } else {
                $httpBody = $create_aggregated_report_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation generateEreportingApiV1EreportingGeneratePost
     *
     * Generate e-reporting XML
     *
     * @param  \OpenAPI\Client\Model\CreateEReportingRequest $create_e_reporting_request create_e_reporting_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateEreportingApiV1EreportingGeneratePost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \OpenAPI\Client\Model\GenerateEReportingResponse|\OpenAPI\Client\Model\APIError
     */
    public function generateEreportingApiV1EreportingGeneratePost($create_e_reporting_request, string $contentType = self::contentTypes['generateEreportingApiV1EreportingGeneratePost'][0])
    {
        list($response) = $this->generateEreportingApiV1EreportingGeneratePostWithHttpInfo($create_e_reporting_request, $contentType);
        return $response;
    }

    /**
     * Operation generateEreportingApiV1EreportingGeneratePostWithHttpInfo
     *
     * Generate e-reporting XML
     *
     * @param  \OpenAPI\Client\Model\CreateEReportingRequest $create_e_reporting_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateEreportingApiV1EreportingGeneratePost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \OpenAPI\Client\Model\GenerateEReportingResponse|\OpenAPI\Client\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateEreportingApiV1EreportingGeneratePostWithHttpInfo($create_e_reporting_request, string $contentType = self::contentTypes['generateEreportingApiV1EreportingGeneratePost'][0])
    {
        $request = $this->generateEreportingApiV1EreportingGeneratePostRequest($create_e_reporting_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\GenerateEReportingResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\OpenAPI\Client\Model\GenerateEReportingResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\GenerateEReportingResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation generateEreportingApiV1EreportingGeneratePostAsync
     *
     * Generate e-reporting XML
     *
     * @param  \OpenAPI\Client\Model\CreateEReportingRequest $create_e_reporting_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateEreportingApiV1EreportingGeneratePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateEreportingApiV1EreportingGeneratePostAsync($create_e_reporting_request, string $contentType = self::contentTypes['generateEreportingApiV1EreportingGeneratePost'][0])
    {
        return $this->generateEreportingApiV1EreportingGeneratePostAsyncWithHttpInfo($create_e_reporting_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generateEreportingApiV1EreportingGeneratePostAsyncWithHttpInfo
     *
     * Generate e-reporting XML
     *
     * @param  \OpenAPI\Client\Model\CreateEReportingRequest $create_e_reporting_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateEreportingApiV1EreportingGeneratePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateEreportingApiV1EreportingGeneratePostAsyncWithHttpInfo($create_e_reporting_request, string $contentType = self::contentTypes['generateEreportingApiV1EreportingGeneratePost'][0])
    {
        $returnType = '\OpenAPI\Client\Model\GenerateEReportingResponse';
        $request = $this->generateEreportingApiV1EreportingGeneratePostRequest($create_e_reporting_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'generateEreportingApiV1EreportingGeneratePost'
     *
     * @param  \OpenAPI\Client\Model\CreateEReportingRequest $create_e_reporting_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateEreportingApiV1EreportingGeneratePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function generateEreportingApiV1EreportingGeneratePostRequest($create_e_reporting_request, string $contentType = self::contentTypes['generateEreportingApiV1EreportingGeneratePost'][0])
    {

        // verify the required parameter 'create_e_reporting_request' is set
        if ($create_e_reporting_request === null || (is_array($create_e_reporting_request) && count($create_e_reporting_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $create_e_reporting_request when calling generateEreportingApiV1EreportingGeneratePost'
            );
        }


        $resourcePath = '/api/v1/ereporting/generate';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($create_e_reporting_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($create_e_reporting_request));
            } else {
                $httpBody = $create_e_reporting_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation generateEreportingDownloadApiV1EreportingGenerateDownloadPost
     *
     * Generate and download e-reporting XML
     *
     * @param  \OpenAPI\Client\Model\CreateEReportingRequest $create_e_reporting_request create_e_reporting_request (required)
     * @param  string|null $filename Output filename (default: ereporting_{reportId}.xml) (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateEreportingDownloadApiV1EreportingGenerateDownloadPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return void
     */
    public function generateEreportingDownloadApiV1EreportingGenerateDownloadPost($create_e_reporting_request, $filename = null, string $contentType = self::contentTypes['generateEreportingDownloadApiV1EreportingGenerateDownloadPost'][0])
    {
        $this->generateEreportingDownloadApiV1EreportingGenerateDownloadPostWithHttpInfo($create_e_reporting_request, $filename, $contentType);
    }

    /**
     * Operation generateEreportingDownloadApiV1EreportingGenerateDownloadPostWithHttpInfo
     *
     * Generate and download e-reporting XML
     *
     * @param  \OpenAPI\Client\Model\CreateEReportingRequest $create_e_reporting_request (required)
     * @param  string|null $filename Output filename (default: ereporting_{reportId}.xml) (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateEreportingDownloadApiV1EreportingGenerateDownloadPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateEreportingDownloadApiV1EreportingGenerateDownloadPostWithHttpInfo($create_e_reporting_request, $filename = null, string $contentType = self::contentTypes['generateEreportingDownloadApiV1EreportingGenerateDownloadPost'][0])
    {
        $request = $this->generateEreportingDownloadApiV1EreportingGenerateDownloadPostRequest($create_e_reporting_request, $filename, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            return [null, $statusCode, $response->getHeaders()];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation generateEreportingDownloadApiV1EreportingGenerateDownloadPostAsync
     *
     * Generate and download e-reporting XML
     *
     * @param  \OpenAPI\Client\Model\CreateEReportingRequest $create_e_reporting_request (required)
     * @param  string|null $filename Output filename (default: ereporting_{reportId}.xml) (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateEreportingDownloadApiV1EreportingGenerateDownloadPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateEreportingDownloadApiV1EreportingGenerateDownloadPostAsync($create_e_reporting_request, $filename = null, string $contentType = self::contentTypes['generateEreportingDownloadApiV1EreportingGenerateDownloadPost'][0])
    {
        return $this->generateEreportingDownloadApiV1EreportingGenerateDownloadPostAsyncWithHttpInfo($create_e_reporting_request, $filename, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generateEreportingDownloadApiV1EreportingGenerateDownloadPostAsyncWithHttpInfo
     *
     * Generate and download e-reporting XML
     *
     * @param  \OpenAPI\Client\Model\CreateEReportingRequest $create_e_reporting_request (required)
     * @param  string|null $filename Output filename (default: ereporting_{reportId}.xml) (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateEreportingDownloadApiV1EreportingGenerateDownloadPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateEreportingDownloadApiV1EreportingGenerateDownloadPostAsyncWithHttpInfo($create_e_reporting_request, $filename = null, string $contentType = self::contentTypes['generateEreportingDownloadApiV1EreportingGenerateDownloadPost'][0])
    {
        $returnType = '';
        $request = $this->generateEreportingDownloadApiV1EreportingGenerateDownloadPostRequest($create_e_reporting_request, $filename, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'generateEreportingDownloadApiV1EreportingGenerateDownloadPost'
     *
     * @param  \OpenAPI\Client\Model\CreateEReportingRequest $create_e_reporting_request (required)
     * @param  string|null $filename Output filename (default: ereporting_{reportId}.xml) (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateEreportingDownloadApiV1EreportingGenerateDownloadPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function generateEreportingDownloadApiV1EreportingGenerateDownloadPostRequest($create_e_reporting_request, $filename = null, string $contentType = self::contentTypes['generateEreportingDownloadApiV1EreportingGenerateDownloadPost'][0])
    {

        // verify the required parameter 'create_e_reporting_request' is set
        if ($create_e_reporting_request === null || (is_array($create_e_reporting_request) && count($create_e_reporting_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $create_e_reporting_request when calling generateEreportingDownloadApiV1EreportingGenerateDownloadPost'
            );
        }



        $resourcePath = '/api/v1/ereporting/generate/download';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $filename,
            'filename', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);




        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($create_e_reporting_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($create_e_reporting_request));
            } else {
                $httpBody = $create_e_reporting_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation listCategoryCodesApiV1EreportingCategoryCodesGet
     *
     * List PPF-compliant category codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listCategoryCodesApiV1EreportingCategoryCodesGet'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array<string,mixed>
     */
    public function listCategoryCodesApiV1EreportingCategoryCodesGet(string $contentType = self::contentTypes['listCategoryCodesApiV1EreportingCategoryCodesGet'][0])
    {
        list($response) = $this->listCategoryCodesApiV1EreportingCategoryCodesGetWithHttpInfo($contentType);
        return $response;
    }

    /**
     * Operation listCategoryCodesApiV1EreportingCategoryCodesGetWithHttpInfo
     *
     * List PPF-compliant category codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listCategoryCodesApiV1EreportingCategoryCodesGet'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of array<string,mixed>, HTTP status code, HTTP response headers (array of strings)
     */
    public function listCategoryCodesApiV1EreportingCategoryCodesGetWithHttpInfo(string $contentType = self::contentTypes['listCategoryCodesApiV1EreportingCategoryCodesGet'][0])
    {
        $request = $this->listCategoryCodesApiV1EreportingCategoryCodesGetRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'array<string,mixed>',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'array<string,mixed>',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'array<string,mixed>',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation listCategoryCodesApiV1EreportingCategoryCodesGetAsync
     *
     * List PPF-compliant category codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listCategoryCodesApiV1EreportingCategoryCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function listCategoryCodesApiV1EreportingCategoryCodesGetAsync(string $contentType = self::contentTypes['listCategoryCodesApiV1EreportingCategoryCodesGet'][0])
    {
        return $this->listCategoryCodesApiV1EreportingCategoryCodesGetAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation listCategoryCodesApiV1EreportingCategoryCodesGetAsyncWithHttpInfo
     *
     * List PPF-compliant category codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listCategoryCodesApiV1EreportingCategoryCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function listCategoryCodesApiV1EreportingCategoryCodesGetAsyncWithHttpInfo(string $contentType = self::contentTypes['listCategoryCodesApiV1EreportingCategoryCodesGet'][0])
    {
        $returnType = 'array<string,mixed>';
        $request = $this->listCategoryCodesApiV1EreportingCategoryCodesGetRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'listCategoryCodesApiV1EreportingCategoryCodesGet'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listCategoryCodesApiV1EreportingCategoryCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function listCategoryCodesApiV1EreportingCategoryCodesGetRequest(string $contentType = self::contentTypes['listCategoryCodesApiV1EreportingCategoryCodesGet'][0])
    {


        $resourcePath = '/api/v1/ereporting/category-codes';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation listFlowTypesApiV1EreportingFlowTypesGet
     *
     * List available flow types
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listFlowTypesApiV1EreportingFlowTypesGet'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array<string,mixed>
     */
    public function listFlowTypesApiV1EreportingFlowTypesGet(string $contentType = self::contentTypes['listFlowTypesApiV1EreportingFlowTypesGet'][0])
    {
        list($response) = $this->listFlowTypesApiV1EreportingFlowTypesGetWithHttpInfo($contentType);
        return $response;
    }

    /**
     * Operation listFlowTypesApiV1EreportingFlowTypesGetWithHttpInfo
     *
     * List available flow types
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listFlowTypesApiV1EreportingFlowTypesGet'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of array<string,mixed>, HTTP status code, HTTP response headers (array of strings)
     */
    public function listFlowTypesApiV1EreportingFlowTypesGetWithHttpInfo(string $contentType = self::contentTypes['listFlowTypesApiV1EreportingFlowTypesGet'][0])
    {
        $request = $this->listFlowTypesApiV1EreportingFlowTypesGetRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'array<string,mixed>',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'array<string,mixed>',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'array<string,mixed>',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation listFlowTypesApiV1EreportingFlowTypesGetAsync
     *
     * List available flow types
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listFlowTypesApiV1EreportingFlowTypesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function listFlowTypesApiV1EreportingFlowTypesGetAsync(string $contentType = self::contentTypes['listFlowTypesApiV1EreportingFlowTypesGet'][0])
    {
        return $this->listFlowTypesApiV1EreportingFlowTypesGetAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation listFlowTypesApiV1EreportingFlowTypesGetAsyncWithHttpInfo
     *
     * List available flow types
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listFlowTypesApiV1EreportingFlowTypesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function listFlowTypesApiV1EreportingFlowTypesGetAsyncWithHttpInfo(string $contentType = self::contentTypes['listFlowTypesApiV1EreportingFlowTypesGet'][0])
    {
        $returnType = 'array<string,mixed>';
        $request = $this->listFlowTypesApiV1EreportingFlowTypesGetRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'listFlowTypesApiV1EreportingFlowTypesGet'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listFlowTypesApiV1EreportingFlowTypesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function listFlowTypesApiV1EreportingFlowTypesGetRequest(string $contentType = self::contentTypes['listFlowTypesApiV1EreportingFlowTypesGet'][0])
    {


        $resourcePath = '/api/v1/ereporting/flow-types';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost
     *
     * Submit aggregated e-reporting to PA/PDP
     *
     * @param  \OpenAPI\Client\Model\SubmitAggregatedReportRequest $submit_aggregated_report_request submit_aggregated_report_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \OpenAPI\Client\Model\SubmitEReportingResponse|\OpenAPI\Client\Model\APIError
     */
    public function submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost($submit_aggregated_report_request, string $contentType = self::contentTypes['submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'][0])
    {
        list($response) = $this->submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostWithHttpInfo($submit_aggregated_report_request, $contentType);
        return $response;
    }

    /**
     * Operation submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostWithHttpInfo
     *
     * Submit aggregated e-reporting to PA/PDP
     *
     * @param  \OpenAPI\Client\Model\SubmitAggregatedReportRequest $submit_aggregated_report_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \OpenAPI\Client\Model\SubmitEReportingResponse|\OpenAPI\Client\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostWithHttpInfo($submit_aggregated_report_request, string $contentType = self::contentTypes['submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'][0])
    {
        $request = $this->submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostRequest($submit_aggregated_report_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\SubmitEReportingResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\OpenAPI\Client\Model\SubmitEReportingResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\SubmitEReportingResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostAsync
     *
     * Submit aggregated e-reporting to PA/PDP
     *
     * @param  \OpenAPI\Client\Model\SubmitAggregatedReportRequest $submit_aggregated_report_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostAsync($submit_aggregated_report_request, string $contentType = self::contentTypes['submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'][0])
    {
        return $this->submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostAsyncWithHttpInfo($submit_aggregated_report_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostAsyncWithHttpInfo
     *
     * Submit aggregated e-reporting to PA/PDP
     *
     * @param  \OpenAPI\Client\Model\SubmitAggregatedReportRequest $submit_aggregated_report_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostAsyncWithHttpInfo($submit_aggregated_report_request, string $contentType = self::contentTypes['submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'][0])
    {
        $returnType = '\OpenAPI\Client\Model\SubmitEReportingResponse';
        $request = $this->submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostRequest($submit_aggregated_report_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'
     *
     * @param  \OpenAPI\Client\Model\SubmitAggregatedReportRequest $submit_aggregated_report_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function submitAggregatedEreportingApiV1EreportingSubmitAggregatedPostRequest($submit_aggregated_report_request, string $contentType = self::contentTypes['submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'][0])
    {

        // verify the required parameter 'submit_aggregated_report_request' is set
        if ($submit_aggregated_report_request === null || (is_array($submit_aggregated_report_request) && count($submit_aggregated_report_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $submit_aggregated_report_request when calling submitAggregatedEreportingApiV1EreportingSubmitAggregatedPost'
            );
        }


        $resourcePath = '/api/v1/ereporting/submit-aggregated';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($submit_aggregated_report_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($submit_aggregated_report_request));
            } else {
                $httpBody = $submit_aggregated_report_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation submitEreportingApiV1EreportingSubmitPost
     *
     * Submit e-reporting to PA/PDP
     *
     * @param  \OpenAPI\Client\Model\SubmitEReportingRequest $submit_e_reporting_request submit_e_reporting_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitEreportingApiV1EreportingSubmitPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \OpenAPI\Client\Model\SubmitEReportingResponse|\OpenAPI\Client\Model\APIError
     */
    public function submitEreportingApiV1EreportingSubmitPost($submit_e_reporting_request, string $contentType = self::contentTypes['submitEreportingApiV1EreportingSubmitPost'][0])
    {
        list($response) = $this->submitEreportingApiV1EreportingSubmitPostWithHttpInfo($submit_e_reporting_request, $contentType);
        return $response;
    }

    /**
     * Operation submitEreportingApiV1EreportingSubmitPostWithHttpInfo
     *
     * Submit e-reporting to PA/PDP
     *
     * @param  \OpenAPI\Client\Model\SubmitEReportingRequest $submit_e_reporting_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitEreportingApiV1EreportingSubmitPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \OpenAPI\Client\Model\SubmitEReportingResponse|\OpenAPI\Client\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function submitEreportingApiV1EreportingSubmitPostWithHttpInfo($submit_e_reporting_request, string $contentType = self::contentTypes['submitEreportingApiV1EreportingSubmitPost'][0])
    {
        $request = $this->submitEreportingApiV1EreportingSubmitPostRequest($submit_e_reporting_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\SubmitEReportingResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\OpenAPI\Client\Model\SubmitEReportingResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\SubmitEReportingResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation submitEreportingApiV1EreportingSubmitPostAsync
     *
     * Submit e-reporting to PA/PDP
     *
     * @param  \OpenAPI\Client\Model\SubmitEReportingRequest $submit_e_reporting_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitEreportingApiV1EreportingSubmitPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitEreportingApiV1EreportingSubmitPostAsync($submit_e_reporting_request, string $contentType = self::contentTypes['submitEreportingApiV1EreportingSubmitPost'][0])
    {
        return $this->submitEreportingApiV1EreportingSubmitPostAsyncWithHttpInfo($submit_e_reporting_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation submitEreportingApiV1EreportingSubmitPostAsyncWithHttpInfo
     *
     * Submit e-reporting to PA/PDP
     *
     * @param  \OpenAPI\Client\Model\SubmitEReportingRequest $submit_e_reporting_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitEreportingApiV1EreportingSubmitPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitEreportingApiV1EreportingSubmitPostAsyncWithHttpInfo($submit_e_reporting_request, string $contentType = self::contentTypes['submitEreportingApiV1EreportingSubmitPost'][0])
    {
        $returnType = '\OpenAPI\Client\Model\SubmitEReportingResponse';
        $request = $this->submitEreportingApiV1EreportingSubmitPostRequest($submit_e_reporting_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'submitEreportingApiV1EreportingSubmitPost'
     *
     * @param  \OpenAPI\Client\Model\SubmitEReportingRequest $submit_e_reporting_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitEreportingApiV1EreportingSubmitPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function submitEreportingApiV1EreportingSubmitPostRequest($submit_e_reporting_request, string $contentType = self::contentTypes['submitEreportingApiV1EreportingSubmitPost'][0])
    {

        // verify the required parameter 'submit_e_reporting_request' is set
        if ($submit_e_reporting_request === null || (is_array($submit_e_reporting_request) && count($submit_e_reporting_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $submit_e_reporting_request when calling submitEreportingApiV1EreportingSubmitPost'
            );
        }


        $resourcePath = '/api/v1/ereporting/submit';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($submit_e_reporting_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($submit_e_reporting_request));
            } else {
                $httpBody = $submit_e_reporting_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation submitXmlEreportingApiV1EreportingSubmitXmlPost
     *
     * Submit pre-generated e-reporting XML
     *
     * @param  \SplFileObject $xml_file E-reporting XML file (required)
     * @param  string|null $tracking_id tracking_id (optional)
     * @param  bool|null $skip_validation Skip XSD validation (optional, default to false)
     * @param  string|null $pdp_flow_service_url pdp_flow_service_url (optional)
     * @param  string|null $pdp_token_url pdp_token_url (optional)
     * @param  string|null $pdp_client_id pdp_client_id (optional)
     * @param  string|null $pdp_client_secret pdp_client_secret (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitXmlEreportingApiV1EreportingSubmitXmlPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \OpenAPI\Client\Model\SubmitEReportingResponse|\OpenAPI\Client\Model\APIError
     */
    public function submitXmlEreportingApiV1EreportingSubmitXmlPost($xml_file, $tracking_id = null, $skip_validation = false, $pdp_flow_service_url = null, $pdp_token_url = null, $pdp_client_id = null, $pdp_client_secret = null, string $contentType = self::contentTypes['submitXmlEreportingApiV1EreportingSubmitXmlPost'][0])
    {
        list($response) = $this->submitXmlEreportingApiV1EreportingSubmitXmlPostWithHttpInfo($xml_file, $tracking_id, $skip_validation, $pdp_flow_service_url, $pdp_token_url, $pdp_client_id, $pdp_client_secret, $contentType);
        return $response;
    }

    /**
     * Operation submitXmlEreportingApiV1EreportingSubmitXmlPostWithHttpInfo
     *
     * Submit pre-generated e-reporting XML
     *
     * @param  \SplFileObject $xml_file E-reporting XML file (required)
     * @param  string|null $tracking_id (optional)
     * @param  bool|null $skip_validation Skip XSD validation (optional, default to false)
     * @param  string|null $pdp_flow_service_url (optional)
     * @param  string|null $pdp_token_url (optional)
     * @param  string|null $pdp_client_id (optional)
     * @param  string|null $pdp_client_secret (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitXmlEreportingApiV1EreportingSubmitXmlPost'] to see the possible values for this operation
     *
     * @throws \OpenAPI\Client\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \OpenAPI\Client\Model\SubmitEReportingResponse|\OpenAPI\Client\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function submitXmlEreportingApiV1EreportingSubmitXmlPostWithHttpInfo($xml_file, $tracking_id = null, $skip_validation = false, $pdp_flow_service_url = null, $pdp_token_url = null, $pdp_client_id = null, $pdp_client_secret = null, string $contentType = self::contentTypes['submitXmlEreportingApiV1EreportingSubmitXmlPost'][0])
    {
        $request = $this->submitXmlEreportingApiV1EreportingSubmitXmlPostRequest($xml_file, $tracking_id, $skip_validation, $pdp_flow_service_url, $pdp_token_url, $pdp_client_id, $pdp_client_secret, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\SubmitEReportingResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\OpenAPI\Client\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\OpenAPI\Client\Model\SubmitEReportingResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\SubmitEReportingResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\OpenAPI\Client\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation submitXmlEreportingApiV1EreportingSubmitXmlPostAsync
     *
     * Submit pre-generated e-reporting XML
     *
     * @param  \SplFileObject $xml_file E-reporting XML file (required)
     * @param  string|null $tracking_id (optional)
     * @param  bool|null $skip_validation Skip XSD validation (optional, default to false)
     * @param  string|null $pdp_flow_service_url (optional)
     * @param  string|null $pdp_token_url (optional)
     * @param  string|null $pdp_client_id (optional)
     * @param  string|null $pdp_client_secret (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitXmlEreportingApiV1EreportingSubmitXmlPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitXmlEreportingApiV1EreportingSubmitXmlPostAsync($xml_file, $tracking_id = null, $skip_validation = false, $pdp_flow_service_url = null, $pdp_token_url = null, $pdp_client_id = null, $pdp_client_secret = null, string $contentType = self::contentTypes['submitXmlEreportingApiV1EreportingSubmitXmlPost'][0])
    {
        return $this->submitXmlEreportingApiV1EreportingSubmitXmlPostAsyncWithHttpInfo($xml_file, $tracking_id, $skip_validation, $pdp_flow_service_url, $pdp_token_url, $pdp_client_id, $pdp_client_secret, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation submitXmlEreportingApiV1EreportingSubmitXmlPostAsyncWithHttpInfo
     *
     * Submit pre-generated e-reporting XML
     *
     * @param  \SplFileObject $xml_file E-reporting XML file (required)
     * @param  string|null $tracking_id (optional)
     * @param  bool|null $skip_validation Skip XSD validation (optional, default to false)
     * @param  string|null $pdp_flow_service_url (optional)
     * @param  string|null $pdp_token_url (optional)
     * @param  string|null $pdp_client_id (optional)
     * @param  string|null $pdp_client_secret (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitXmlEreportingApiV1EreportingSubmitXmlPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitXmlEreportingApiV1EreportingSubmitXmlPostAsyncWithHttpInfo($xml_file, $tracking_id = null, $skip_validation = false, $pdp_flow_service_url = null, $pdp_token_url = null, $pdp_client_id = null, $pdp_client_secret = null, string $contentType = self::contentTypes['submitXmlEreportingApiV1EreportingSubmitXmlPost'][0])
    {
        $returnType = '\OpenAPI\Client\Model\SubmitEReportingResponse';
        $request = $this->submitXmlEreportingApiV1EreportingSubmitXmlPostRequest($xml_file, $tracking_id, $skip_validation, $pdp_flow_service_url, $pdp_token_url, $pdp_client_id, $pdp_client_secret, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
[...]
