<?php
/**
 * FacturXValidationApi
 * PHP version 8.1
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * FactPulse REST API
 *
 * REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X - Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.20.0-SNAPSHOT
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace FactPulse\SDK\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use FactPulse\SDK\ApiException;
use FactPulse\SDK\Configuration;
use FactPulse\SDK\FormDataProcessor;
use FactPulse\SDK\HeaderSelector;
use FactPulse\SDK\ObjectSerializer;

/**
 * FacturXValidationApi Class Doc Comment
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class FacturXValidationApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost' => [
            'multipart/form-data',
        ],
        'validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost' => [
            'multipart/form-data',
        ],
        'validateXmlApiV1ProcessingValidateXmlPost' => [
            'multipart/form-data',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost
     *
     * Validate a complete Factur-X PDF
     *
     * @param  \SplFileObject $pdf_file Factur-X PDF file to validate (.pdf format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile profile (optional)
     * @param  bool|null $use_verapdf Enable strict PDF/A validation with VeraPDF (recommended for production). If False, uses basic metadata validation. (optional, default to false)
     * @param  bool|null $skip_br_fr skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\PDFValidationResultAPI|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError
     */
    public function validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost($pdf_file, $profile = null, $use_verapdf = false, $skip_br_fr = null, string $contentType = self::contentTypes['validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'][0])
    {
        list($response) = $this->validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostWithHttpInfo($pdf_file, $profile, $use_verapdf, $skip_br_fr, $contentType);
        return $response;
    }

    /**
     * Operation validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostWithHttpInfo
     *
     * Validate a complete Factur-X PDF
     *
     * @param  \SplFileObject $pdf_file Factur-X PDF file to validate (.pdf format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile (optional)
     * @param  bool|null $use_verapdf Enable strict PDF/A validation with VeraPDF (recommended for production). If False, uses basic metadata validation. (optional, default to false)
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\PDFValidationResultAPI|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostWithHttpInfo($pdf_file, $profile = null, $use_verapdf = false, $skip_br_fr = null, string $contentType = self::contentTypes['validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'][0])
    {
        $request = $this->validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest($pdf_file, $profile, $use_verapdf, $skip_br_fr, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\PDFValidationResultAPI',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\PDFValidationResultAPI',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\PDFValidationResultAPI',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostAsync
     *
     * Validate a complete Factur-X PDF
     *
     * @param  \SplFileObject $pdf_file Factur-X PDF file to validate (.pdf format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile (optional)
     * @param  bool|null $use_verapdf Enable strict PDF/A validation with VeraPDF (recommended for production). If False, uses basic metadata validation. (optional, default to false)
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostAsync($pdf_file, $profile = null, $use_verapdf = false, $skip_br_fr = null, string $contentType = self::contentTypes['validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'][0])
    {
        return $this->validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostAsyncWithHttpInfo($pdf_file, $profile, $use_verapdf, $skip_br_fr, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostAsyncWithHttpInfo
     *
     * Validate a complete Factur-X PDF
     *
     * @param  \SplFileObject $pdf_file Factur-X PDF file to validate (.pdf format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile (optional)
     * @param  bool|null $use_verapdf Enable strict PDF/A validation with VeraPDF (recommended for production). If False, uses basic metadata validation. (optional, default to false)
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostAsyncWithHttpInfo($pdf_file, $profile = null, $use_verapdf = false, $skip_br_fr = null, string $contentType = self::contentTypes['validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\PDFValidationResultAPI';
        $request = $this->validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest($pdf_file, $profile, $use_verapdf, $skip_br_fr, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'
     *
     * @param  \SplFileObject $pdf_file Factur-X PDF file to validate (.pdf format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile (optional)
     * @param  bool|null $use_verapdf Enable strict PDF/A validation with VeraPDF (recommended for production). If False, uses basic metadata validation. (optional, default to false)
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function validateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest($pdf_file, $profile = null, $use_verapdf = false, $skip_br_fr = null, string $contentType = self::contentTypes['validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'][0])
    {

        // verify the required parameter 'pdf_file' is set
        if ($pdf_file === null || (is_array($pdf_file) && count($pdf_file) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $pdf_file when calling validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost'
            );
        }





        $resourcePath = '/api/v1/processing/validate-facturx-pdf';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;




        // form params
        $formDataProcessor = new FormDataProcessor();

        $formData = $formDataProcessor->prepare([
            'pdf_file' => $pdf_file,
            'profile' => $profile,
            'use_verapdf' => $use_verapdf,
            'skip_br_fr' => $skip_br_fr,
        ]);

        $formParams = $formDataProcessor->flatten($formData);
        $multipart = $formDataProcessor->has_file;

        $multipart = true;
        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('X-API-Key');
        if ($apiKey !== null) {
            $headers['X-API-Key'] = $apiKey;
        }
        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost
     *
     * Validate a Factur-X PDF (asynchronous with polling)
     *
     * @param  \SplFileObject $pdf_file Factur-X PDF file to validate (.pdf format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile profile (optional)
     * @param  bool|null $use_verapdf Enable strict PDF/A validation with VeraPDF (recommended for production). May take several seconds. (optional, default to false)
     * @param  string|null $callback_url callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\TaskResponse|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError
     */
    public function validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost($pdf_file, $profile = null, $use_verapdf = false, $callback_url = null, $webhook_mode = 'inline', string $contentType = self::contentTypes['validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'][0])
    {
        list($response) = $this->validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostWithHttpInfo($pdf_file, $profile, $use_verapdf, $callback_url, $webhook_mode, $contentType);
        return $response;
    }

    /**
     * Operation validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostWithHttpInfo
     *
     * Validate a Factur-X PDF (asynchronous with polling)
     *
     * @param  \SplFileObject $pdf_file Factur-X PDF file to validate (.pdf format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile (optional)
     * @param  bool|null $use_verapdf Enable strict PDF/A validation with VeraPDF (recommended for production). May take several seconds. (optional, default to false)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\TaskResponse|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostWithHttpInfo($pdf_file, $profile = null, $use_verapdf = false, $callback_url = null, $webhook_mode = 'inline', string $contentType = self::contentTypes['validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'][0])
    {
        $request = $this->validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest($pdf_file, $profile, $use_verapdf, $callback_url, $webhook_mode, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 202:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\TaskResponse',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\TaskResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 202:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\TaskResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostAsync
     *
     * Validate a Factur-X PDF (asynchronous with polling)
     *
     * @param  \SplFileObject $pdf_file Factur-X PDF file to validate (.pdf format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile (optional)
     * @param  bool|null $use_verapdf Enable strict PDF/A validation with VeraPDF (recommended for production). May take several seconds. (optional, default to false)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostAsync($pdf_file, $profile = null, $use_verapdf = false, $callback_url = null, $webhook_mode = 'inline', string $contentType = self::contentTypes['validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'][0])
    {
        return $this->validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostAsyncWithHttpInfo($pdf_file, $profile, $use_verapdf, $callback_url, $webhook_mode, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostAsyncWithHttpInfo
     *
     * Validate a Factur-X PDF (asynchronous with polling)
     *
     * @param  \SplFileObject $pdf_file Factur-X PDF file to validate (.pdf format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile (optional)
     * @param  bool|null $use_verapdf Enable strict PDF/A validation with VeraPDF (recommended for production). May take several seconds. (optional, default to false)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostAsyncWithHttpInfo($pdf_file, $profile = null, $use_verapdf = false, $callback_url = null, $webhook_mode = 'inline', string $contentType = self::contentTypes['validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\TaskResponse';
        $request = $this->validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest($pdf_file, $profile, $use_verapdf, $callback_url, $webhook_mode, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'
     *
     * @param  \SplFileObject $pdf_file Factur-X PDF file to validate (.pdf format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile (optional)
     * @param  bool|null $use_verapdf Enable strict PDF/A validation with VeraPDF (recommended for production). May take several seconds. (optional, default to false)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest($pdf_file, $profile = null, $use_verapdf = false, $callback_url = null, $webhook_mode = 'inline', string $contentType = self::contentTypes['validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'][0])
    {

        // verify the required parameter 'pdf_file' is set
        if ($pdf_file === null || (is_array($pdf_file) && count($pdf_file) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $pdf_file when calling validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost'
            );
        }






        $resourcePath = '/api/v1/processing/validate-facturx-async';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;




        // form params
        $formDataProcessor = new FormDataProcessor();

        $formData = $formDataProcessor->prepare([
            'pdf_file' => $pdf_file,
            'profile' => $profile,
            'use_verapdf' => $use_verapdf,
            'callback_url' => $callback_url,
            'webhook_mode' => $webhook_mode,
        ]);

        $formParams = $formDataProcessor->flatten($formData);
        $multipart = $formDataProcessor->has_file;

        $multipart = true;
        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('X-API-Key');
        if ($apiKey !== null) {
            $headers['X-API-Key'] = $apiKey;
        }
        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation validateXmlApiV1ProcessingValidateXmlPost
     *
     * Validate an existing Factur-X XML
     *
     * @param  \SplFileObject $xml_file Factur-X XML file to validate (.xml format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile Validation profile (MINIMUM, BASIC, EN16931, EXTENDED). (optional)
     * @param  bool|null $skip_br_fr skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateXmlApiV1ProcessingValidateXmlPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\ValidationSuccessResponse|\FactPulse\SDK\Model\FactureElectroniqueRestApiSchemasValidationValidationErrorResponse|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError
     */
    public function validateXmlApiV1ProcessingValidateXmlPost($xml_file, $profile = null, $skip_br_fr = null, string $contentType = self::contentTypes['validateXmlApiV1ProcessingValidateXmlPost'][0])
    {
        list($response) = $this->validateXmlApiV1ProcessingValidateXmlPostWithHttpInfo($xml_file, $profile, $skip_br_fr, $contentType);
        return $response;
    }

    /**
     * Operation validateXmlApiV1ProcessingValidateXmlPostWithHttpInfo
     *
     * Validate an existing Factur-X XML
     *
     * @param  \SplFileObject $xml_file Factur-X XML file to validate (.xml format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile Validation profile (MINIMUM, BASIC, EN16931, EXTENDED). (optional)
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateXmlApiV1ProcessingValidateXmlPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\ValidationSuccessResponse|\FactPulse\SDK\Model\FactureElectroniqueRestApiSchemasValidationValidationErrorResponse|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function validateXmlApiV1ProcessingValidateXmlPostWithHttpInfo($xml_file, $profile = null, $skip_br_fr = null, string $contentType = self::contentTypes['validateXmlApiV1ProcessingValidateXmlPost'][0])
    {
        $request = $this->validateXmlApiV1ProcessingValidateXmlPostRequest($xml_file, $profile, $skip_br_fr, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\ValidationSuccessResponse',
                        $request,
                        $response,
                    );
                case 400:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\FactureElectroniqueRestApiSchemasValidationValidationErrorResponse',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\ValidationSuccessResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\ValidationSuccessResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 400:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\FactureElectroniqueRestApiSchemasValidationValidationErrorResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation validateXmlApiV1ProcessingValidateXmlPostAsync
     *
     * Validate an existing Factur-X XML
     *
     * @param  \SplFileObject $xml_file Factur-X XML file to validate (.xml format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile Validation profile (MINIMUM, BASIC, EN16931, EXTENDED). (optional)
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateXmlApiV1ProcessingValidateXmlPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function validateXmlApiV1ProcessingValidateXmlPostAsync($xml_file, $profile = null, $skip_br_fr = null, string $contentType = self::contentTypes['validateXmlApiV1ProcessingValidateXmlPost'][0])
    {
        return $this->validateXmlApiV1ProcessingValidateXmlPostAsyncWithHttpInfo($xml_file, $profile, $skip_br_fr, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation validateXmlApiV1ProcessingValidateXmlPostAsyncWithHttpInfo
     *
     * Validate an existing Factur-X XML
     *
     * @param  \SplFileObject $xml_file Factur-X XML file to validate (.xml format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile Validation profile (MINIMUM, BASIC, EN16931, EXTENDED). (optional)
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateXmlApiV1ProcessingValidateXmlPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function validateXmlApiV1ProcessingValidateXmlPostAsyncWithHttpInfo($xml_file, $profile = null, $skip_br_fr = null, string $contentType = self::contentTypes['validateXmlApiV1ProcessingValidateXmlPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\ValidationSuccessResponse';
        $request = $this->validateXmlApiV1ProcessingValidateXmlPostRequest($xml_file, $profile, $skip_br_fr, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'validateXmlApiV1ProcessingValidateXmlPost'
     *
     * @param  \SplFileObject $xml_file Factur-X XML file to validate (.xml format). (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile Validation profile (MINIMUM, BASIC, EN16931, EXTENDED). (optional)
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateXmlApiV1ProcessingValidateXmlPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function validateXmlApiV1ProcessingValidateXmlPostRequest($xml_file, $profile = null, $skip_br_fr = null, string $contentType = self::contentTypes['validateXmlApiV1ProcessingValidateXmlPost'][0])
    {

        // verify the required parameter 'xml_file' is set
        if ($xml_file === null || (is_array($xml_file) && count($xml_file) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $xml_file when calling validateXmlApiV1ProcessingValidateXmlPost'
            );
        }




        $resourcePath = '/api/v1/processing/validate-xml';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;




        // form params
        $formDataProcessor = new FormDataProcessor();

        $formData = $formDataProcessor->prepare([
            'xml_file' => $xml_file,
            'profile' => $profile,
            'skip_br_fr' => $skip_br_fr,
        ]);

        $formParams = $formDataProcessor->flatten($formData);
        $multipart = $formDataProcessor->has_file;

        $multipart = true;
        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('X-API-Key');
        if ($apiKey !== null) {
            $headers['X-API-Key'] = $apiKey;
        }
        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        if ($this->config->getCertFile()) {
            $options[RequestOptions::CERT] = $this->config->getCertFile();
        }

        if ($this->config->getKeyFile()) {
            $options[RequestOptions::SSL_KEY] = $this->config->getKeyFile();
        }

        return $options;
    }

    private function handleResponseWithDataType(
        string $dataType,
        RequestInterface $request,
        ResponseInterface $response
    ): array {
        if ($dataType === '\SplFileObject') {
            $content = $response->getBody(); //stream goes to serializer
        } else {
            $content = (string) $response->getBody();
            if ($dataType !== 'string') {
                try {
                    $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                } catch (\JsonException $exception) {
                    throw new ApiException(
                        sprintf(
                            'Error JSON decoding server response (%s)',
                            $request->getUri()
                        ),
                        $response->getStatusCode(),
                        $response->getHeaders(),
                        $content
                    );
                }
            }
        }

        return [
            ObjectSerializer::deserialize($content, $dataType, []),
            $response->getStatusCode(),
            $response->getHeaders()
        ];
    }

    private function responseWithinRangeCode(
        string $rangeCode,
        int $statusCode
    ): bool {
        $left = (int) ($rangeCode[0].'00');
        $right = (int) ($rangeCode[0].'99');

        return $statusCode >= $left && $statusCode <= $right;
    }
}
