<?php
/**
 * Flux6InvoiceLifecycleCDARApi
 * PHP version 8.1
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * FactPulse REST API
 *
 * REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X - Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.20.0-SNAPSHOT
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace FactPulse\SDK\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use FactPulse\SDK\ApiException;
use FactPulse\SDK\Configuration;
use FactPulse\SDK\FormDataProcessor;
use FactPulse\SDK\HeaderSelector;
use FactPulse\SDK\ObjectSerializer;

/**
 * Flux6InvoiceLifecycleCDARApi Class Doc Comment
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class Flux6InvoiceLifecycleCDARApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'generateCdarApiV1CdarGeneratePost' => [
            'application/json',
        ],
        'getActionCodesApiV1CdarActionCodesGet' => [
            'application/json',
        ],
        'getReasonCodesApiV1CdarReasonCodesGet' => [
            'application/json',
        ],
        'getStatusCodesApiV1CdarStatusCodesGet' => [
            'application/json',
        ],
        'submitCdarApiV1CdarSubmitPost' => [
            'application/json',
        ],
        'submitCdarXmlApiV1CdarSubmitXmlPost' => [
            'application/json',
        ],
        'submitEncaisseeApiV1CdarEncaisseePost' => [
            'application/json',
        ],
        'submitRefuseeApiV1CdarRefuseePost' => [
            'application/json',
        ],
        'validateCdarApiV1CdarValidatePost' => [
            'application/json',
        ],
        'validateXmlCdarApiV1CdarValidateXmlPost' => [
            'multipart/form-data',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation generateCdarApiV1CdarGeneratePost
     *
     * Generate a CDAR message
     *
     * @param  \FactPulse\SDK\Model\CreateCDARRequest $create_cdar_request create_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateCdarApiV1CdarGeneratePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\GenerateCDARResponse|\FactPulse\SDK\Model\APIError
     */
    public function generateCdarApiV1CdarGeneratePost($create_cdar_request, string $contentType = self::contentTypes['generateCdarApiV1CdarGeneratePost'][0])
    {
        list($response) = $this->generateCdarApiV1CdarGeneratePostWithHttpInfo($create_cdar_request, $contentType);
        return $response;
    }

    /**
     * Operation generateCdarApiV1CdarGeneratePostWithHttpInfo
     *
     * Generate a CDAR message
     *
     * @param  \FactPulse\SDK\Model\CreateCDARRequest $create_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateCdarApiV1CdarGeneratePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\GenerateCDARResponse|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateCdarApiV1CdarGeneratePostWithHttpInfo($create_cdar_request, string $contentType = self::contentTypes['generateCdarApiV1CdarGeneratePost'][0])
    {
        $request = $this->generateCdarApiV1CdarGeneratePostRequest($create_cdar_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\GenerateCDARResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\GenerateCDARResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\GenerateCDARResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation generateCdarApiV1CdarGeneratePostAsync
     *
     * Generate a CDAR message
     *
     * @param  \FactPulse\SDK\Model\CreateCDARRequest $create_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateCdarApiV1CdarGeneratePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateCdarApiV1CdarGeneratePostAsync($create_cdar_request, string $contentType = self::contentTypes['generateCdarApiV1CdarGeneratePost'][0])
    {
        return $this->generateCdarApiV1CdarGeneratePostAsyncWithHttpInfo($create_cdar_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generateCdarApiV1CdarGeneratePostAsyncWithHttpInfo
     *
     * Generate a CDAR message
     *
     * @param  \FactPulse\SDK\Model\CreateCDARRequest $create_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateCdarApiV1CdarGeneratePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateCdarApiV1CdarGeneratePostAsyncWithHttpInfo($create_cdar_request, string $contentType = self::contentTypes['generateCdarApiV1CdarGeneratePost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\GenerateCDARResponse';
        $request = $this->generateCdarApiV1CdarGeneratePostRequest($create_cdar_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'generateCdarApiV1CdarGeneratePost'
     *
     * @param  \FactPulse\SDK\Model\CreateCDARRequest $create_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateCdarApiV1CdarGeneratePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function generateCdarApiV1CdarGeneratePostRequest($create_cdar_request, string $contentType = self::contentTypes['generateCdarApiV1CdarGeneratePost'][0])
    {

        // verify the required parameter 'create_cdar_request' is set
        if ($create_cdar_request === null || (is_array($create_cdar_request) && count($create_cdar_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $create_cdar_request when calling generateCdarApiV1CdarGeneratePost'
            );
        }


        $resourcePath = '/api/v1/cdar/generate';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($create_cdar_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($create_cdar_request));
            } else {
                $httpBody = $create_cdar_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('X-API-Key');
        if ($apiKey !== null) {
            $headers['X-API-Key'] = $apiKey;
        }
        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getActionCodesApiV1CdarActionCodesGet
     *
     * List of CDAR action codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getActionCodesApiV1CdarActionCodesGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\ActionCodesResponse
     */
    public function getActionCodesApiV1CdarActionCodesGet(string $contentType = self::contentTypes['getActionCodesApiV1CdarActionCodesGet'][0])
    {
        list($response) = $this->getActionCodesApiV1CdarActionCodesGetWithHttpInfo($contentType);
        return $response;
    }

    /**
     * Operation getActionCodesApiV1CdarActionCodesGetWithHttpInfo
     *
     * List of CDAR action codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getActionCodesApiV1CdarActionCodesGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\ActionCodesResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getActionCodesApiV1CdarActionCodesGetWithHttpInfo(string $contentType = self::contentTypes['getActionCodesApiV1CdarActionCodesGet'][0])
    {
        $request = $this->getActionCodesApiV1CdarActionCodesGetRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\ActionCodesResponse',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\ActionCodesResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\ActionCodesResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation getActionCodesApiV1CdarActionCodesGetAsync
     *
     * List of CDAR action codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getActionCodesApiV1CdarActionCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getActionCodesApiV1CdarActionCodesGetAsync(string $contentType = self::contentTypes['getActionCodesApiV1CdarActionCodesGet'][0])
    {
        return $this->getActionCodesApiV1CdarActionCodesGetAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getActionCodesApiV1CdarActionCodesGetAsyncWithHttpInfo
     *
     * List of CDAR action codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getActionCodesApiV1CdarActionCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getActionCodesApiV1CdarActionCodesGetAsyncWithHttpInfo(string $contentType = self::contentTypes['getActionCodesApiV1CdarActionCodesGet'][0])
    {
        $returnType = '\FactPulse\SDK\Model\ActionCodesResponse';
        $request = $this->getActionCodesApiV1CdarActionCodesGetRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getActionCodesApiV1CdarActionCodesGet'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getActionCodesApiV1CdarActionCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getActionCodesApiV1CdarActionCodesGetRequest(string $contentType = self::contentTypes['getActionCodesApiV1CdarActionCodesGet'][0])
    {


        $resourcePath = '/api/v1/cdar/action-codes';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getReasonCodesApiV1CdarReasonCodesGet
     *
     * List of CDAR reason codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getReasonCodesApiV1CdarReasonCodesGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\ReasonCodesResponse
     */
    public function getReasonCodesApiV1CdarReasonCodesGet(string $contentType = self::contentTypes['getReasonCodesApiV1CdarReasonCodesGet'][0])
    {
        list($response) = $this->getReasonCodesApiV1CdarReasonCodesGetWithHttpInfo($contentType);
        return $response;
    }

    /**
     * Operation getReasonCodesApiV1CdarReasonCodesGetWithHttpInfo
     *
     * List of CDAR reason codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getReasonCodesApiV1CdarReasonCodesGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\ReasonCodesResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getReasonCodesApiV1CdarReasonCodesGetWithHttpInfo(string $contentType = self::contentTypes['getReasonCodesApiV1CdarReasonCodesGet'][0])
    {
        $request = $this->getReasonCodesApiV1CdarReasonCodesGetRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\ReasonCodesResponse',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\ReasonCodesResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\ReasonCodesResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation getReasonCodesApiV1CdarReasonCodesGetAsync
     *
     * List of CDAR reason codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getReasonCodesApiV1CdarReasonCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getReasonCodesApiV1CdarReasonCodesGetAsync(string $contentType = self::contentTypes['getReasonCodesApiV1CdarReasonCodesGet'][0])
    {
        return $this->getReasonCodesApiV1CdarReasonCodesGetAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getReasonCodesApiV1CdarReasonCodesGetAsyncWithHttpInfo
     *
     * List of CDAR reason codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getReasonCodesApiV1CdarReasonCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getReasonCodesApiV1CdarReasonCodesGetAsyncWithHttpInfo(string $contentType = self::contentTypes['getReasonCodesApiV1CdarReasonCodesGet'][0])
    {
        $returnType = '\FactPulse\SDK\Model\ReasonCodesResponse';
        $request = $this->getReasonCodesApiV1CdarReasonCodesGetRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getReasonCodesApiV1CdarReasonCodesGet'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getReasonCodesApiV1CdarReasonCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getReasonCodesApiV1CdarReasonCodesGetRequest(string $contentType = self::contentTypes['getReasonCodesApiV1CdarReasonCodesGet'][0])
    {


        $resourcePath = '/api/v1/cdar/reason-codes';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getStatusCodesApiV1CdarStatusCodesGet
     *
     * List of CDAR status codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getStatusCodesApiV1CdarStatusCodesGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\StatusCodesResponse
     */
    public function getStatusCodesApiV1CdarStatusCodesGet(string $contentType = self::contentTypes['getStatusCodesApiV1CdarStatusCodesGet'][0])
    {
        list($response) = $this->getStatusCodesApiV1CdarStatusCodesGetWithHttpInfo($contentType);
        return $response;
    }

    /**
     * Operation getStatusCodesApiV1CdarStatusCodesGetWithHttpInfo
     *
     * List of CDAR status codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getStatusCodesApiV1CdarStatusCodesGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\StatusCodesResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getStatusCodesApiV1CdarStatusCodesGetWithHttpInfo(string $contentType = self::contentTypes['getStatusCodesApiV1CdarStatusCodesGet'][0])
    {
        $request = $this->getStatusCodesApiV1CdarStatusCodesGetRequest($contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\StatusCodesResponse',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\StatusCodesResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\StatusCodesResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation getStatusCodesApiV1CdarStatusCodesGetAsync
     *
     * List of CDAR status codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getStatusCodesApiV1CdarStatusCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getStatusCodesApiV1CdarStatusCodesGetAsync(string $contentType = self::contentTypes['getStatusCodesApiV1CdarStatusCodesGet'][0])
    {
        return $this->getStatusCodesApiV1CdarStatusCodesGetAsyncWithHttpInfo($contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getStatusCodesApiV1CdarStatusCodesGetAsyncWithHttpInfo
     *
     * List of CDAR status codes
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getStatusCodesApiV1CdarStatusCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getStatusCodesApiV1CdarStatusCodesGetAsyncWithHttpInfo(string $contentType = self::contentTypes['getStatusCodesApiV1CdarStatusCodesGet'][0])
    {
        $returnType = '\FactPulse\SDK\Model\StatusCodesResponse';
        $request = $this->getStatusCodesApiV1CdarStatusCodesGetRequest($contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getStatusCodesApiV1CdarStatusCodesGet'
     *
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getStatusCodesApiV1CdarStatusCodesGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getStatusCodesApiV1CdarStatusCodesGetRequest(string $contentType = self::contentTypes['getStatusCodesApiV1CdarStatusCodesGet'][0])
    {


        $resourcePath = '/api/v1/cdar/status-codes';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation submitCdarApiV1CdarSubmitPost
     *
     * Generate and submit a CDAR message
     *
     * @param  \FactPulse\SDK\Model\SubmitCDARRequest $submit_cdar_request submit_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCdarApiV1CdarSubmitPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\SubmitCDARResponse|\FactPulse\SDK\Model\APIError
     */
    public function submitCdarApiV1CdarSubmitPost($submit_cdar_request, string $contentType = self::contentTypes['submitCdarApiV1CdarSubmitPost'][0])
    {
        list($response) = $this->submitCdarApiV1CdarSubmitPostWithHttpInfo($submit_cdar_request, $contentType);
        return $response;
    }

    /**
     * Operation submitCdarApiV1CdarSubmitPostWithHttpInfo
     *
     * Generate and submit a CDAR message
     *
     * @param  \FactPulse\SDK\Model\SubmitCDARRequest $submit_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCdarApiV1CdarSubmitPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\SubmitCDARResponse|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function submitCdarApiV1CdarSubmitPostWithHttpInfo($submit_cdar_request, string $contentType = self::contentTypes['submitCdarApiV1CdarSubmitPost'][0])
    {
        $request = $this->submitCdarApiV1CdarSubmitPostRequest($submit_cdar_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\SubmitCDARResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\SubmitCDARResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\SubmitCDARResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation submitCdarApiV1CdarSubmitPostAsync
     *
     * Generate and submit a CDAR message
     *
     * @param  \FactPulse\SDK\Model\SubmitCDARRequest $submit_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCdarApiV1CdarSubmitPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitCdarApiV1CdarSubmitPostAsync($submit_cdar_request, string $contentType = self::contentTypes['submitCdarApiV1CdarSubmitPost'][0])
    {
        return $this->submitCdarApiV1CdarSubmitPostAsyncWithHttpInfo($submit_cdar_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation submitCdarApiV1CdarSubmitPostAsyncWithHttpInfo
     *
     * Generate and submit a CDAR message
     *
     * @param  \FactPulse\SDK\Model\SubmitCDARRequest $submit_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCdarApiV1CdarSubmitPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitCdarApiV1CdarSubmitPostAsyncWithHttpInfo($submit_cdar_request, string $contentType = self::contentTypes['submitCdarApiV1CdarSubmitPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\SubmitCDARResponse';
        $request = $this->submitCdarApiV1CdarSubmitPostRequest($submit_cdar_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'submitCdarApiV1CdarSubmitPost'
     *
     * @param  \FactPulse\SDK\Model\SubmitCDARRequest $submit_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCdarApiV1CdarSubmitPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function submitCdarApiV1CdarSubmitPostRequest($submit_cdar_request, string $contentType = self::contentTypes['submitCdarApiV1CdarSubmitPost'][0])
    {

        // verify the required parameter 'submit_cdar_request' is set
        if ($submit_cdar_request === null || (is_array($submit_cdar_request) && count($submit_cdar_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $submit_cdar_request when calling submitCdarApiV1CdarSubmitPost'
            );
        }


        $resourcePath = '/api/v1/cdar/submit';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($submit_cdar_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($submit_cdar_request));
            } else {
                $httpBody = $submit_cdar_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation submitCdarXmlApiV1CdarSubmitXmlPost
     *
     * Submit a pre-generated CDAR XML
     *
     * @param  \FactPulse\SDK\Model\SubmitCDARXMLRequest $submit_cdarxml_request submit_cdarxml_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCdarXmlApiV1CdarSubmitXmlPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\SubmitCDARResponse|\FactPulse\SDK\Model\APIError
     */
    public function submitCdarXmlApiV1CdarSubmitXmlPost($submit_cdarxml_request, string $contentType = self::contentTypes['submitCdarXmlApiV1CdarSubmitXmlPost'][0])
    {
        list($response) = $this->submitCdarXmlApiV1CdarSubmitXmlPostWithHttpInfo($submit_cdarxml_request, $contentType);
        return $response;
    }

    /**
     * Operation submitCdarXmlApiV1CdarSubmitXmlPostWithHttpInfo
     *
     * Submit a pre-generated CDAR XML
     *
     * @param  \FactPulse\SDK\Model\SubmitCDARXMLRequest $submit_cdarxml_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCdarXmlApiV1CdarSubmitXmlPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\SubmitCDARResponse|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function submitCdarXmlApiV1CdarSubmitXmlPostWithHttpInfo($submit_cdarxml_request, string $contentType = self::contentTypes['submitCdarXmlApiV1CdarSubmitXmlPost'][0])
    {
        $request = $this->submitCdarXmlApiV1CdarSubmitXmlPostRequest($submit_cdarxml_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\SubmitCDARResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\SubmitCDARResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\SubmitCDARResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation submitCdarXmlApiV1CdarSubmitXmlPostAsync
     *
     * Submit a pre-generated CDAR XML
     *
     * @param  \FactPulse\SDK\Model\SubmitCDARXMLRequest $submit_cdarxml_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCdarXmlApiV1CdarSubmitXmlPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitCdarXmlApiV1CdarSubmitXmlPostAsync($submit_cdarxml_request, string $contentType = self::contentTypes['submitCdarXmlApiV1CdarSubmitXmlPost'][0])
    {
        return $this->submitCdarXmlApiV1CdarSubmitXmlPostAsyncWithHttpInfo($submit_cdarxml_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation submitCdarXmlApiV1CdarSubmitXmlPostAsyncWithHttpInfo
     *
     * Submit a pre-generated CDAR XML
     *
     * @param  \FactPulse\SDK\Model\SubmitCDARXMLRequest $submit_cdarxml_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCdarXmlApiV1CdarSubmitXmlPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitCdarXmlApiV1CdarSubmitXmlPostAsyncWithHttpInfo($submit_cdarxml_request, string $contentType = self::contentTypes['submitCdarXmlApiV1CdarSubmitXmlPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\SubmitCDARResponse';
        $request = $this->submitCdarXmlApiV1CdarSubmitXmlPostRequest($submit_cdarxml_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'submitCdarXmlApiV1CdarSubmitXmlPost'
     *
     * @param  \FactPulse\SDK\Model\SubmitCDARXMLRequest $submit_cdarxml_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCdarXmlApiV1CdarSubmitXmlPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function submitCdarXmlApiV1CdarSubmitXmlPostRequest($submit_cdarxml_request, string $contentType = self::contentTypes['submitCdarXmlApiV1CdarSubmitXmlPost'][0])
    {

        // verify the required parameter 'submit_cdarxml_request' is set
        if ($submit_cdarxml_request === null || (is_array($submit_cdarxml_request) && count($submit_cdarxml_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $submit_cdarxml_request when calling submitCdarXmlApiV1CdarSubmitXmlPost'
            );
        }


        $resourcePath = '/api/v1/cdar/submit-xml';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($submit_cdarxml_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($submit_cdarxml_request));
            } else {
                $httpBody = $submit_cdarxml_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation submitEncaisseeApiV1CdarEncaisseePost
     *
     * [Simplified] Submit PAID status (212) - Issued invoice
     *
     * @param  \FactPulse\SDK\Model\EncaisseeRequest $encaissee_request encaissee_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitEncaisseeApiV1CdarEncaisseePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\SimplifiedCDARResponse|\FactPulse\SDK\Model\APIError
     */
    public function submitEncaisseeApiV1CdarEncaisseePost($encaissee_request, string $contentType = self::contentTypes['submitEncaisseeApiV1CdarEncaisseePost'][0])
    {
        list($response) = $this->submitEncaisseeApiV1CdarEncaisseePostWithHttpInfo($encaissee_request, $contentType);
        return $response;
    }

    /**
     * Operation submitEncaisseeApiV1CdarEncaisseePostWithHttpInfo
     *
     * [Simplified] Submit PAID status (212) - Issued invoice
     *
     * @param  \FactPulse\SDK\Model\EncaisseeRequest $encaissee_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitEncaisseeApiV1CdarEncaisseePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\SimplifiedCDARResponse|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function submitEncaisseeApiV1CdarEncaisseePostWithHttpInfo($encaissee_request, string $contentType = self::contentTypes['submitEncaisseeApiV1CdarEncaisseePost'][0])
    {
        $request = $this->submitEncaisseeApiV1CdarEncaisseePostRequest($encaissee_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\SimplifiedCDARResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\SimplifiedCDARResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\SimplifiedCDARResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation submitEncaisseeApiV1CdarEncaisseePostAsync
     *
     * [Simplified] Submit PAID status (212) - Issued invoice
     *
     * @param  \FactPulse\SDK\Model\EncaisseeRequest $encaissee_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitEncaisseeApiV1CdarEncaisseePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitEncaisseeApiV1CdarEncaisseePostAsync($encaissee_request, string $contentType = self::contentTypes['submitEncaisseeApiV1CdarEncaisseePost'][0])
    {
        return $this->submitEncaisseeApiV1CdarEncaisseePostAsyncWithHttpInfo($encaissee_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation submitEncaisseeApiV1CdarEncaisseePostAsyncWithHttpInfo
     *
     * [Simplified] Submit PAID status (212) - Issued invoice
     *
     * @param  \FactPulse\SDK\Model\EncaisseeRequest $encaissee_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitEncaisseeApiV1CdarEncaisseePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitEncaisseeApiV1CdarEncaisseePostAsyncWithHttpInfo($encaissee_request, string $contentType = self::contentTypes['submitEncaisseeApiV1CdarEncaisseePost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\SimplifiedCDARResponse';
        $request = $this->submitEncaisseeApiV1CdarEncaisseePostRequest($encaissee_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'submitEncaisseeApiV1CdarEncaisseePost'
     *
     * @param  \FactPulse\SDK\Model\EncaisseeRequest $encaissee_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitEncaisseeApiV1CdarEncaisseePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function submitEncaisseeApiV1CdarEncaisseePostRequest($encaissee_request, string $contentType = self::contentTypes['submitEncaisseeApiV1CdarEncaisseePost'][0])
    {

        // verify the required parameter 'encaissee_request' is set
        if ($encaissee_request === null || (is_array($encaissee_request) && count($encaissee_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $encaissee_request when calling submitEncaisseeApiV1CdarEncaisseePost'
            );
        }


        $resourcePath = '/api/v1/cdar/encaissee';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($encaissee_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($encaissee_request));
            } else {
                $httpBody = $encaissee_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation submitRefuseeApiV1CdarRefuseePost
     *
     * [Simplified] Submit REFUSED status (210) - Received invoice
     *
     * @param  \FactPulse\SDK\Model\RefuseeRequest $refusee_request refusee_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitRefuseeApiV1CdarRefuseePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\SimplifiedCDARResponse|\FactPulse\SDK\Model\APIError
     */
    public function submitRefuseeApiV1CdarRefuseePost($refusee_request, string $contentType = self::contentTypes['submitRefuseeApiV1CdarRefuseePost'][0])
    {
        list($response) = $this->submitRefuseeApiV1CdarRefuseePostWithHttpInfo($refusee_request, $contentType);
        return $response;
    }

    /**
     * Operation submitRefuseeApiV1CdarRefuseePostWithHttpInfo
     *
     * [Simplified] Submit REFUSED status (210) - Received invoice
     *
     * @param  \FactPulse\SDK\Model\RefuseeRequest $refusee_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitRefuseeApiV1CdarRefuseePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\SimplifiedCDARResponse|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function submitRefuseeApiV1CdarRefuseePostWithHttpInfo($refusee_request, string $contentType = self::contentTypes['submitRefuseeApiV1CdarRefuseePost'][0])
    {
        $request = $this->submitRefuseeApiV1CdarRefuseePostRequest($refusee_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\SimplifiedCDARResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\SimplifiedCDARResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\SimplifiedCDARResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation submitRefuseeApiV1CdarRefuseePostAsync
     *
     * [Simplified] Submit REFUSED status (210) - Received invoice
     *
     * @param  \FactPulse\SDK\Model\RefuseeRequest $refusee_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitRefuseeApiV1CdarRefuseePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitRefuseeApiV1CdarRefuseePostAsync($refusee_request, string $contentType = self::contentTypes['submitRefuseeApiV1CdarRefuseePost'][0])
    {
        return $this->submitRefuseeApiV1CdarRefuseePostAsyncWithHttpInfo($refusee_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation submitRefuseeApiV1CdarRefuseePostAsyncWithHttpInfo
     *
     * [Simplified] Submit REFUSED status (210) - Received invoice
     *
     * @param  \FactPulse\SDK\Model\RefuseeRequest $refusee_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitRefuseeApiV1CdarRefuseePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitRefuseeApiV1CdarRefuseePostAsyncWithHttpInfo($refusee_request, string $contentType = self::contentTypes['submitRefuseeApiV1CdarRefuseePost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\SimplifiedCDARResponse';
        $request = $this->submitRefuseeApiV1CdarRefuseePostRequest($refusee_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'submitRefuseeApiV1CdarRefuseePost'
     *
     * @param  \FactPulse\SDK\Model\RefuseeRequest $refusee_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitRefuseeApiV1CdarRefuseePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function submitRefuseeApiV1CdarRefuseePostRequest($refusee_request, string $contentType = self::contentTypes['submitRefuseeApiV1CdarRefuseePost'][0])
    {

        // verify the required parameter 'refusee_request' is set
        if ($refusee_request === null || (is_array($refusee_request) && count($refusee_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $refusee_request when calling submitRefuseeApiV1CdarRefuseePost'
            );
        }


        $resourcePath = '/api/v1/cdar/refusee';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($refusee_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($refusee_request));
            } else {
                $httpBody = $refusee_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation validateCdarApiV1CdarValidatePost
     *
     * Validate CDAR structured data
     *
     * @param  \FactPulse\SDK\Model\ValidateCDARRequest $validate_cdar_request validate_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateCdarApiV1CdarValidatePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\ValidateCDARResponse|\FactPulse\SDK\Model\APIError
     */
    public function validateCdarApiV1CdarValidatePost($validate_cdar_request, string $contentType = self::contentTypes['validateCdarApiV1CdarValidatePost'][0])
    {
        list($response) = $this->validateCdarApiV1CdarValidatePostWithHttpInfo($validate_cdar_request, $contentType);
        return $response;
    }

    /**
     * Operation validateCdarApiV1CdarValidatePostWithHttpInfo
     *
     * Validate CDAR structured data
     *
     * @param  \FactPulse\SDK\Model\ValidateCDARRequest $validate_cdar_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['validateCdarApiV1CdarValidatePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\ValidateCDARResponse|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function validateCdarApiV1CdarValidatePostWithHttpInfo($validate_cdar_request, string $contentType = self::contentTypes['validateCdarApiV1CdarValidatePost'][0])
    {
        $request = $this->validateCdarApiV1CdarValidatePostRequest($validate_cdar_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\ValidateCDARResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

[...]
