<?php
/**
 * InvoiceProcessingApi
 * PHP version 8.1
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * FactPulse REST API
 *
 * REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: contact@factpulse.fr
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.20.0-SNAPSHOT
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace FactPulse\SDK\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use FactPulse\SDK\ApiException;
use FactPulse\SDK\Configuration;
use FactPulse\SDK\FormDataProcessor;
use FactPulse\SDK\HeaderSelector;
use FactPulse\SDK\ObjectSerializer;

/**
 * InvoiceProcessingApi Class Doc Comment
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class InvoiceProcessingApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'generateInvoiceApiV1ProcessingGenerateInvoicePost' => [
            'multipart/form-data',
        ],
        'generateTestCertificateApiV1ProcessingGenerateTestCertificatePost' => [
            'application/json',
        ],
        'getTaskStatusApiV1ProcessingTasksTaskIdStatusGet' => [
            'application/json',
        ],
        'signPdfApiV1ProcessingSignPdfPost' => [
            'multipart/form-data',
        ],
        'signPdfAsyncApiV1ProcessingSignPdfAsyncPost' => [
            'multipart/form-data',
        ],
        'submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost' => [
            'application/json',
        ],
        'submitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPost' => [
            'application/json',
        ],
        'validateFacturxPdfApiV1ProcessingValidateFacturxPdfPost' => [
            'multipart/form-data',
        ],
        'validateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost' => [
            'multipart/form-data',
        ],
        'validatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost' => [
            'multipart/form-data',
        ],
        'validateXmlApiV1ProcessingValidateXmlPost' => [
            'multipart/form-data',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation generateInvoiceApiV1ProcessingGenerateInvoicePost
     *
     * Generate a Factur-X invoice
     *
     * @param  string $invoice_data Invoice data in JSON format.              Two formats accepted:             1. **Classic format**: Complete FacturXInvoice structure (all fields)             2. **Simplified format** (🆕 P0.1): Minimal structure with auto-enrichment              Format is detected automatically! (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile Factur-X profile: MINIMUM, BASIC, EN16931 or EXTENDED. (optional)
     * @param  \FactPulse\SDK\Model\OutputFormat|null $output_format Output format: &#39;xml&#39; (XML only) or &#39;pdf&#39; (Factur-X PDF with embedded XML). (optional)
     * @param  bool|null $auto_enrich 🆕 Enable auto-enrichment from SIRET/SIREN (simplified format only) (optional, default to true)
     * @param  \SplFileObject|null $source_pdf source_pdf (optional)
     * @param  string|null $callback_url callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  bool|null $skip_br_fr skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateInvoiceApiV1ProcessingGenerateInvoicePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\TaskResponse|\FactPulse\SDK\Model\APIError
     */
    public function generateInvoiceApiV1ProcessingGenerateInvoicePost($invoice_data, $profile = null, $output_format = null, $auto_enrich = true, $source_pdf = null, $callback_url = null, $webhook_mode = 'inline', $skip_br_fr = null, string $contentType = self::contentTypes['generateInvoiceApiV1ProcessingGenerateInvoicePost'][0])
    {
        list($response) = $this->generateInvoiceApiV1ProcessingGenerateInvoicePostWithHttpInfo($invoice_data, $profile, $output_format, $auto_enrich, $source_pdf, $callback_url, $webhook_mode, $skip_br_fr, $contentType);
        return $response;
    }

    /**
     * Operation generateInvoiceApiV1ProcessingGenerateInvoicePostWithHttpInfo
     *
     * Generate a Factur-X invoice
     *
     * @param  string $invoice_data Invoice data in JSON format.              Two formats accepted:             1. **Classic format**: Complete FacturXInvoice structure (all fields)             2. **Simplified format** (🆕 P0.1): Minimal structure with auto-enrichment              Format is detected automatically! (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile Factur-X profile: MINIMUM, BASIC, EN16931 or EXTENDED. (optional)
     * @param  \FactPulse\SDK\Model\OutputFormat|null $output_format Output format: &#39;xml&#39; (XML only) or &#39;pdf&#39; (Factur-X PDF with embedded XML). (optional)
     * @param  bool|null $auto_enrich 🆕 Enable auto-enrichment from SIRET/SIREN (simplified format only) (optional, default to true)
     * @param  \SplFileObject|null $source_pdf (optional)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateInvoiceApiV1ProcessingGenerateInvoicePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\TaskResponse|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateInvoiceApiV1ProcessingGenerateInvoicePostWithHttpInfo($invoice_data, $profile = null, $output_format = null, $auto_enrich = true, $source_pdf = null, $callback_url = null, $webhook_mode = 'inline', $skip_br_fr = null, string $contentType = self::contentTypes['generateInvoiceApiV1ProcessingGenerateInvoicePost'][0])
    {
        $request = $this->generateInvoiceApiV1ProcessingGenerateInvoicePostRequest($invoice_data, $profile, $output_format, $auto_enrich, $source_pdf, $callback_url, $webhook_mode, $skip_br_fr, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 202:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\TaskResponse',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\TaskResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 202:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\TaskResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation generateInvoiceApiV1ProcessingGenerateInvoicePostAsync
     *
     * Generate a Factur-X invoice
     *
     * @param  string $invoice_data Invoice data in JSON format.              Two formats accepted:             1. **Classic format**: Complete FacturXInvoice structure (all fields)             2. **Simplified format** (🆕 P0.1): Minimal structure with auto-enrichment              Format is detected automatically! (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile Factur-X profile: MINIMUM, BASIC, EN16931 or EXTENDED. (optional)
     * @param  \FactPulse\SDK\Model\OutputFormat|null $output_format Output format: &#39;xml&#39; (XML only) or &#39;pdf&#39; (Factur-X PDF with embedded XML). (optional)
     * @param  bool|null $auto_enrich 🆕 Enable auto-enrichment from SIRET/SIREN (simplified format only) (optional, default to true)
     * @param  \SplFileObject|null $source_pdf (optional)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateInvoiceApiV1ProcessingGenerateInvoicePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateInvoiceApiV1ProcessingGenerateInvoicePostAsync($invoice_data, $profile = null, $output_format = null, $auto_enrich = true, $source_pdf = null, $callback_url = null, $webhook_mode = 'inline', $skip_br_fr = null, string $contentType = self::contentTypes['generateInvoiceApiV1ProcessingGenerateInvoicePost'][0])
    {
        return $this->generateInvoiceApiV1ProcessingGenerateInvoicePostAsyncWithHttpInfo($invoice_data, $profile, $output_format, $auto_enrich, $source_pdf, $callback_url, $webhook_mode, $skip_br_fr, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generateInvoiceApiV1ProcessingGenerateInvoicePostAsyncWithHttpInfo
     *
     * Generate a Factur-X invoice
     *
     * @param  string $invoice_data Invoice data in JSON format.              Two formats accepted:             1. **Classic format**: Complete FacturXInvoice structure (all fields)             2. **Simplified format** (🆕 P0.1): Minimal structure with auto-enrichment              Format is detected automatically! (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile Factur-X profile: MINIMUM, BASIC, EN16931 or EXTENDED. (optional)
     * @param  \FactPulse\SDK\Model\OutputFormat|null $output_format Output format: &#39;xml&#39; (XML only) or &#39;pdf&#39; (Factur-X PDF with embedded XML). (optional)
     * @param  bool|null $auto_enrich 🆕 Enable auto-enrichment from SIRET/SIREN (simplified format only) (optional, default to true)
     * @param  \SplFileObject|null $source_pdf (optional)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateInvoiceApiV1ProcessingGenerateInvoicePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateInvoiceApiV1ProcessingGenerateInvoicePostAsyncWithHttpInfo($invoice_data, $profile = null, $output_format = null, $auto_enrich = true, $source_pdf = null, $callback_url = null, $webhook_mode = 'inline', $skip_br_fr = null, string $contentType = self::contentTypes['generateInvoiceApiV1ProcessingGenerateInvoicePost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\TaskResponse';
        $request = $this->generateInvoiceApiV1ProcessingGenerateInvoicePostRequest($invoice_data, $profile, $output_format, $auto_enrich, $source_pdf, $callback_url, $webhook_mode, $skip_br_fr, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'generateInvoiceApiV1ProcessingGenerateInvoicePost'
     *
     * @param  string $invoice_data Invoice data in JSON format.              Two formats accepted:             1. **Classic format**: Complete FacturXInvoice structure (all fields)             2. **Simplified format** (🆕 P0.1): Minimal structure with auto-enrichment              Format is detected automatically! (required)
     * @param  \FactPulse\SDK\Model\APIProfile|null $profile Factur-X profile: MINIMUM, BASIC, EN16931 or EXTENDED. (optional)
     * @param  \FactPulse\SDK\Model\OutputFormat|null $output_format Output format: &#39;xml&#39; (XML only) or &#39;pdf&#39; (Factur-X PDF with embedded XML). (optional)
     * @param  bool|null $auto_enrich 🆕 Enable auto-enrichment from SIRET/SIREN (simplified format only) (optional, default to true)
     * @param  \SplFileObject|null $source_pdf (optional)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  bool|null $skip_br_fr (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateInvoiceApiV1ProcessingGenerateInvoicePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function generateInvoiceApiV1ProcessingGenerateInvoicePostRequest($invoice_data, $profile = null, $output_format = null, $auto_enrich = true, $source_pdf = null, $callback_url = null, $webhook_mode = 'inline', $skip_br_fr = null, string $contentType = self::contentTypes['generateInvoiceApiV1ProcessingGenerateInvoicePost'][0])
    {

        // verify the required parameter 'invoice_data' is set
        if ($invoice_data === null || (is_array($invoice_data) && count($invoice_data) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $invoice_data when calling generateInvoiceApiV1ProcessingGenerateInvoicePost'
            );
        }









        $resourcePath = '/api/v1/processing/generate-invoice';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;




        // form params
        $formDataProcessor = new FormDataProcessor();

        $formData = $formDataProcessor->prepare([
            'invoice_data' => $invoice_data,
            'profile' => $profile,
            'output_format' => $output_format,
            'auto_enrich' => $auto_enrich,
            'source_pdf' => $source_pdf,
            'callback_url' => $callback_url,
            'webhook_mode' => $webhook_mode,
            'skip_br_fr' => $skip_br_fr,
        ]);

        $formParams = $formDataProcessor->flatten($formData);
        $multipart = $formDataProcessor->has_file;

        $multipart = true;
        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation generateTestCertificateApiV1ProcessingGenerateTestCertificatePost
     *
     * Generate a self-signed X.509 test certificate
     *
     * @param  \FactPulse\SDK\Model\GenerateCertificateRequest $generate_certificate_request generate_certificate_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\GenerateCertificateResponse|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError
     */
    public function generateTestCertificateApiV1ProcessingGenerateTestCertificatePost($generate_certificate_request, string $contentType = self::contentTypes['generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'][0])
    {
        list($response) = $this->generateTestCertificateApiV1ProcessingGenerateTestCertificatePostWithHttpInfo($generate_certificate_request, $contentType);
        return $response;
    }

    /**
     * Operation generateTestCertificateApiV1ProcessingGenerateTestCertificatePostWithHttpInfo
     *
     * Generate a self-signed X.509 test certificate
     *
     * @param  \FactPulse\SDK\Model\GenerateCertificateRequest $generate_certificate_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\GenerateCertificateResponse|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateTestCertificateApiV1ProcessingGenerateTestCertificatePostWithHttpInfo($generate_certificate_request, string $contentType = self::contentTypes['generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'][0])
    {
        $request = $this->generateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest($generate_certificate_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\GenerateCertificateResponse',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\GenerateCertificateResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\GenerateCertificateResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation generateTestCertificateApiV1ProcessingGenerateTestCertificatePostAsync
     *
     * Generate a self-signed X.509 test certificate
     *
     * @param  \FactPulse\SDK\Model\GenerateCertificateRequest $generate_certificate_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateTestCertificateApiV1ProcessingGenerateTestCertificatePostAsync($generate_certificate_request, string $contentType = self::contentTypes['generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'][0])
    {
        return $this->generateTestCertificateApiV1ProcessingGenerateTestCertificatePostAsyncWithHttpInfo($generate_certificate_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generateTestCertificateApiV1ProcessingGenerateTestCertificatePostAsyncWithHttpInfo
     *
     * Generate a self-signed X.509 test certificate
     *
     * @param  \FactPulse\SDK\Model\GenerateCertificateRequest $generate_certificate_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateTestCertificateApiV1ProcessingGenerateTestCertificatePostAsyncWithHttpInfo($generate_certificate_request, string $contentType = self::contentTypes['generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\GenerateCertificateResponse';
        $request = $this->generateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest($generate_certificate_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'
     *
     * @param  \FactPulse\SDK\Model\GenerateCertificateRequest $generate_certificate_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function generateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest($generate_certificate_request, string $contentType = self::contentTypes['generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'][0])
    {

        // verify the required parameter 'generate_certificate_request' is set
        if ($generate_certificate_request === null || (is_array($generate_certificate_request) && count($generate_certificate_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $generate_certificate_request when calling generateTestCertificateApiV1ProcessingGenerateTestCertificatePost'
            );
        }


        $resourcePath = '/api/v1/processing/generate-test-certificate';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($generate_certificate_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($generate_certificate_request));
            } else {
                $httpBody = $generate_certificate_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getTaskStatusApiV1ProcessingTasksTaskIdStatusGet
     *
     * Get task generation status
     *
     * @param  string $task_id Celery task ID returned by async endpoints (UUID format) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\AsyncTaskStatus|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError
     */
    public function getTaskStatusApiV1ProcessingTasksTaskIdStatusGet($task_id, string $contentType = self::contentTypes['getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'][0])
    {
        list($response) = $this->getTaskStatusApiV1ProcessingTasksTaskIdStatusGetWithHttpInfo($task_id, $contentType);
        return $response;
    }

    /**
     * Operation getTaskStatusApiV1ProcessingTasksTaskIdStatusGetWithHttpInfo
     *
     * Get task generation status
     *
     * @param  string $task_id Celery task ID returned by async endpoints (UUID format) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\AsyncTaskStatus|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function getTaskStatusApiV1ProcessingTasksTaskIdStatusGetWithHttpInfo($task_id, string $contentType = self::contentTypes['getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'][0])
    {
        $request = $this->getTaskStatusApiV1ProcessingTasksTaskIdStatusGetRequest($task_id, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\AsyncTaskStatus',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\AsyncTaskStatus',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\AsyncTaskStatus',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation getTaskStatusApiV1ProcessingTasksTaskIdStatusGetAsync
     *
     * Get task generation status
     *
     * @param  string $task_id Celery task ID returned by async endpoints (UUID format) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getTaskStatusApiV1ProcessingTasksTaskIdStatusGetAsync($task_id, string $contentType = self::contentTypes['getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'][0])
    {
        return $this->getTaskStatusApiV1ProcessingTasksTaskIdStatusGetAsyncWithHttpInfo($task_id, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getTaskStatusApiV1ProcessingTasksTaskIdStatusGetAsyncWithHttpInfo
     *
     * Get task generation status
     *
     * @param  string $task_id Celery task ID returned by async endpoints (UUID format) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getTaskStatusApiV1ProcessingTasksTaskIdStatusGetAsyncWithHttpInfo($task_id, string $contentType = self::contentTypes['getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'][0])
    {
        $returnType = '\FactPulse\SDK\Model\AsyncTaskStatus';
        $request = $this->getTaskStatusApiV1ProcessingTasksTaskIdStatusGetRequest($task_id, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'
     *
     * @param  string $task_id Celery task ID returned by async endpoints (UUID format) (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function getTaskStatusApiV1ProcessingTasksTaskIdStatusGetRequest($task_id, string $contentType = self::contentTypes['getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'][0])
    {

        // verify the required parameter 'task_id' is set
        if ($task_id === null || (is_array($task_id) && count($task_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $task_id when calling getTaskStatusApiV1ProcessingTasksTaskIdStatusGet'
            );
        }


        $resourcePath = '/api/v1/processing/tasks/{task_id}/status';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($task_id !== null) {
            $resourcePath = str_replace(
                '{' . 'task_id' . '}',
                ObjectSerializer::toPathValue($task_id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation signPdfApiV1ProcessingSignPdfPost
     *
     * Sign a PDF with client&#39;s certificate (PAdES-B-LT)
     *
     * @param  \SplFileObject $pdf_file PDF file to sign (will be processed and returned signed in base64) (required)
     * @param  string|null $reason reason (optional)
     * @param  string|null $location location (optional)
     * @param  string|null $contact contact (optional)
     * @param  string|null $field_name PDF signature field name (optional, default to 'FactPulseSignature')
     * @param  bool|null $use_pades_lt Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)
     * @param  bool|null $use_timestamp Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['signPdfApiV1ProcessingSignPdfPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return mixed|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function signPdfApiV1ProcessingSignPdfPost($pdf_file, $reason = null, $location = null, $contact = null, $field_name = 'FactPulseSignature', $use_pades_lt = false, $use_timestamp = true, string $contentType = self::contentTypes['signPdfApiV1ProcessingSignPdfPost'][0])
    {
        list($response) = $this->signPdfApiV1ProcessingSignPdfPostWithHttpInfo($pdf_file, $reason, $location, $contact, $field_name, $use_pades_lt, $use_timestamp, $contentType);
        return $response;
    }

    /**
     * Operation signPdfApiV1ProcessingSignPdfPostWithHttpInfo
     *
     * Sign a PDF with client&#39;s certificate (PAdES-B-LT)
     *
     * @param  \SplFileObject $pdf_file PDF file to sign (will be processed and returned signed in base64) (required)
     * @param  string|null $reason (optional)
     * @param  string|null $location (optional)
     * @param  string|null $contact (optional)
     * @param  string|null $field_name PDF signature field name (optional, default to 'FactPulseSignature')
     * @param  bool|null $use_pades_lt Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)
     * @param  bool|null $use_timestamp Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['signPdfApiV1ProcessingSignPdfPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of mixed|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function signPdfApiV1ProcessingSignPdfPostWithHttpInfo($pdf_file, $reason = null, $location = null, $contact = null, $field_name = 'FactPulseSignature', $use_pades_lt = false, $use_timestamp = true, string $contentType = self::contentTypes['signPdfApiV1ProcessingSignPdfPost'][0])
    {
        $request = $this->signPdfApiV1ProcessingSignPdfPostRequest($pdf_file, $reason, $location, $contact, $field_name, $use_pades_lt, $use_timestamp, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'mixed',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'mixed',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'mixed',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation signPdfApiV1ProcessingSignPdfPostAsync
     *
     * Sign a PDF with client&#39;s certificate (PAdES-B-LT)
     *
     * @param  \SplFileObject $pdf_file PDF file to sign (will be processed and returned signed in base64) (required)
     * @param  string|null $reason (optional)
     * @param  string|null $location (optional)
     * @param  string|null $contact (optional)
     * @param  string|null $field_name PDF signature field name (optional, default to 'FactPulseSignature')
     * @param  bool|null $use_pades_lt Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)
     * @param  bool|null $use_timestamp Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['signPdfApiV1ProcessingSignPdfPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function signPdfApiV1ProcessingSignPdfPostAsync($pdf_file, $reason = null, $location = null, $contact = null, $field_name = 'FactPulseSignature', $use_pades_lt = false, $use_timestamp = true, string $contentType = self::contentTypes['signPdfApiV1ProcessingSignPdfPost'][0])
    {
        return $this->signPdfApiV1ProcessingSignPdfPostAsyncWithHttpInfo($pdf_file, $reason, $location, $contact, $field_name, $use_pades_lt, $use_timestamp, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation signPdfApiV1ProcessingSignPdfPostAsyncWithHttpInfo
     *
     * Sign a PDF with client&#39;s certificate (PAdES-B-LT)
     *
     * @param  \SplFileObject $pdf_file PDF file to sign (will be processed and returned signed in base64) (required)
     * @param  string|null $reason (optional)
     * @param  string|null $location (optional)
     * @param  string|null $contact (optional)
     * @param  string|null $field_name PDF signature field name (optional, default to 'FactPulseSignature')
     * @param  bool|null $use_pades_lt Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)
     * @param  bool|null $use_timestamp Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['signPdfApiV1ProcessingSignPdfPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function signPdfApiV1ProcessingSignPdfPostAsyncWithHttpInfo($pdf_file, $reason = null, $location = null, $contact = null, $field_name = 'FactPulseSignature', $use_pades_lt = false, $use_timestamp = true, string $contentType = self::contentTypes['signPdfApiV1ProcessingSignPdfPost'][0])
    {
        $returnType = 'mixed';
        $request = $this->signPdfApiV1ProcessingSignPdfPostRequest($pdf_file, $reason, $location, $contact, $field_name, $use_pades_lt, $use_timestamp, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'signPdfApiV1ProcessingSignPdfPost'
     *
     * @param  \SplFileObject $pdf_file PDF file to sign (will be processed and returned signed in base64) (required)
     * @param  string|null $reason (optional)
     * @param  string|null $location (optional)
     * @param  string|null $contact (optional)
     * @param  string|null $field_name PDF signature field name (optional, default to 'FactPulseSignature')
     * @param  bool|null $use_pades_lt Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)
     * @param  bool|null $use_timestamp Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['signPdfApiV1ProcessingSignPdfPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function signPdfApiV1ProcessingSignPdfPostRequest($pdf_file, $reason = null, $location = null, $contact = null, $field_name = 'FactPulseSignature', $use_pades_lt = false, $use_timestamp = true, string $contentType = self::contentTypes['signPdfApiV1ProcessingSignPdfPost'][0])
    {

        // verify the required parameter 'pdf_file' is set
        if ($pdf_file === null || (is_array($pdf_file) && count($pdf_file) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $pdf_file when calling signPdfApiV1ProcessingSignPdfPost'
            );
        }








        $resourcePath = '/api/v1/processing/sign-pdf';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;




        // form params
        $formDataProcessor = new FormDataProcessor();

        $formData = $formDataProcessor->prepare([
            'pdf_file' => $pdf_file,
            'reason' => $reason,
            'location' => $location,
            'contact' => $contact,
            'field_name' => $field_name,
            'use_pades_lt' => $use_pades_lt,
            'use_timestamp' => $use_timestamp,
        ]);

        $formParams = $formDataProcessor->flatten($formData);
        $multipart = $formDataProcessor->has_file;

        $multipart = true;
        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation signPdfAsyncApiV1ProcessingSignPdfAsyncPost
     *
     * Sign a PDF asynchronously (Celery)
     *
     * @param  \SplFileObject $pdf_file PDF file to sign (processed asynchronously) (required)
     * @param  string|null $callback_url callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  string|null $reason reason (optional)
     * @param  string|null $location location (optional)
     * @param  string|null $contact contact (optional)
     * @param  string|null $field_name PDF signature field name (optional, default to 'FactPulseSignature')
     * @param  bool|null $use_pades_lt Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)
     * @param  bool|null $use_timestamp Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['signPdfAsyncApiV1ProcessingSignPdfAsyncPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return mixed|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function signPdfAsyncApiV1ProcessingSignPdfAsyncPost($pdf_file, $callback_url = null, $webhook_mode = 'inline', $reason = null, $location = null, $contact = null, $field_name = 'FactPulseSignature', $use_pades_lt = false, $use_timestamp = true, string $contentType = self::contentTypes['signPdfAsyncApiV1ProcessingSignPdfAsyncPost'][0])
    {
        list($response) = $this->signPdfAsyncApiV1ProcessingSignPdfAsyncPostWithHttpInfo($pdf_file, $callback_url, $webhook_mode, $reason, $location, $contact, $field_name, $use_pades_lt, $use_timestamp, $contentType);
        return $response;
    }

    /**
     * Operation signPdfAsyncApiV1ProcessingSignPdfAsyncPostWithHttpInfo
     *
     * Sign a PDF asynchronously (Celery)
     *
     * @param  \SplFileObject $pdf_file PDF file to sign (processed asynchronously) (required)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  string|null $reason (optional)
     * @param  string|null $location (optional)
     * @param  string|null $contact (optional)
     * @param  string|null $field_name PDF signature field name (optional, default to 'FactPulseSignature')
     * @param  bool|null $use_pades_lt Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)
     * @param  bool|null $use_timestamp Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['signPdfAsyncApiV1ProcessingSignPdfAsyncPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of mixed|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function signPdfAsyncApiV1ProcessingSignPdfAsyncPostWithHttpInfo($pdf_file, $callback_url = null, $webhook_mode = 'inline', $reason = null, $location = null, $contact = null, $field_name = 'FactPulseSignature', $use_pades_lt = false, $use_timestamp = true, string $contentType = self::contentTypes['signPdfAsyncApiV1ProcessingSignPdfAsyncPost'][0])
    {
        $request = $this->signPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest($pdf_file, $callback_url, $webhook_mode, $reason, $location, $contact, $field_name, $use_pades_lt, $use_timestamp, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        'mixed',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                'mixed',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        'mixed',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation signPdfAsyncApiV1ProcessingSignPdfAsyncPostAsync
     *
     * Sign a PDF asynchronously (Celery)
     *
     * @param  \SplFileObject $pdf_file PDF file to sign (processed asynchronously) (required)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  string|null $reason (optional)
     * @param  string|null $location (optional)
     * @param  string|null $contact (optional)
     * @param  string|null $field_name PDF signature field name (optional, default to 'FactPulseSignature')
     * @param  bool|null $use_pades_lt Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)
     * @param  bool|null $use_timestamp Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['signPdfAsyncApiV1ProcessingSignPdfAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function signPdfAsyncApiV1ProcessingSignPdfAsyncPostAsync($pdf_file, $callback_url = null, $webhook_mode = 'inline', $reason = null, $location = null, $contact = null, $field_name = 'FactPulseSignature', $use_pades_lt = false, $use_timestamp = true, string $contentType = self::contentTypes['signPdfAsyncApiV1ProcessingSignPdfAsyncPost'][0])
    {
        return $this->signPdfAsyncApiV1ProcessingSignPdfAsyncPostAsyncWithHttpInfo($pdf_file, $callback_url, $webhook_mode, $reason, $location, $contact, $field_name, $use_pades_lt, $use_timestamp, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation signPdfAsyncApiV1ProcessingSignPdfAsyncPostAsyncWithHttpInfo
     *
     * Sign a PDF asynchronously (Celery)
     *
     * @param  \SplFileObject $pdf_file PDF file to sign (processed asynchronously) (required)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  string|null $reason (optional)
     * @param  string|null $location (optional)
     * @param  string|null $contact (optional)
     * @param  string|null $field_name PDF signature field name (optional, default to 'FactPulseSignature')
     * @param  bool|null $use_pades_lt Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)
     * @param  bool|null $use_timestamp Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['signPdfAsyncApiV1ProcessingSignPdfAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function signPdfAsyncApiV1ProcessingSignPdfAsyncPostAsyncWithHttpInfo($pdf_file, $callback_url = null, $webhook_mode = 'inline', $reason = null, $location = null, $contact = null, $field_name = 'FactPulseSignature', $use_pades_lt = false, $use_timestamp = true, string $contentType = self::contentTypes['signPdfAsyncApiV1ProcessingSignPdfAsyncPost'][0])
    {
        $returnType = 'mixed';
        $request = $this->signPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest($pdf_file, $callback_url, $webhook_mode, $reason, $location, $contact, $field_name, $use_pades_lt, $use_timestamp, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'signPdfAsyncApiV1ProcessingSignPdfAsyncPost'
     *
     * @param  \SplFileObject $pdf_file PDF file to sign (processed asynchronously) (required)
     * @param  string|null $callback_url (optional)
     * @param  string|null $webhook_mode Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL) (optional, default to 'inline')
     * @param  string|null $reason (optional)
     * @param  string|null $location (optional)
     * @param  string|null $contact (optional)
     * @param  string|null $field_name PDF signature field name (optional, default to 'FactPulseSignature')
     * @param  bool|null $use_pades_lt Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access. (optional, default to false)
     * @param  bool|null $use_timestamp Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T) (optional, default to true)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['signPdfAsyncApiV1ProcessingSignPdfAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function signPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest($pdf_file, $callback_url = null, $webhook_mode = 'inline', $reason = null, $location = null, $contact = null, $field_name = 'FactPulseSignature', $use_pades_lt = false, $use_timestamp = true, string $contentType = self::contentTypes['signPdfAsyncApiV1ProcessingSignPdfAsyncPost'][0])
    {

        // verify the required parameter 'pdf_file' is set
        if ($pdf_file === null || (is_array($pdf_file) && count($pdf_file) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $pdf_file when calling signPdfAsyncApiV1ProcessingSignPdfAsyncPost'
            );
        }










        $resourcePath = '/api/v1/processing/sign-pdf-async';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;




        // form params
        $formDataProcessor = new FormDataProcessor();

        $formData = $formDataProcessor->prepare([
            'pdf_file' => $pdf_file,
            'callback_url' => $callback_url,
            'webhook_mode' => $webhook_mode,
            'reason' => $reason,
            'location' => $location,
            'contact' => $contact,
            'field_name' => $field_name,
            'use_pades_lt' => $use_pades_lt,
            'use_timestamp' => $use_timestamp,
        ]);

        $formParams = $formDataProcessor->flatten($formData);
        $multipart = $formDataProcessor->has_file;

        $multipart = true;
        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost
     *
     * Submit a complete invoice (generation + signature + submission)
     *
     * @param  \FactPulse\SDK\Model\SubmitCompleteInvoiceRequest $submit_complete_invoice_request submit_complete_invoice_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\SubmitCompleteInvoiceResponse|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError
     */
    public function submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost($submit_complete_invoice_request, string $contentType = self::contentTypes['submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'][0])
    {
        list($response) = $this->submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostWithHttpInfo($submit_complete_invoice_request, $contentType);
        return $response;
    }

    /**
     * Operation submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostWithHttpInfo
     *
     * Submit a complete invoice (generation + signature + submission)
     *
     * @param  \FactPulse\SDK\Model\SubmitCompleteInvoiceRequest $submit_complete_invoice_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\SubmitCompleteInvoiceResponse|\FactPulse\SDK\Model\HTTPValidationError|\FactPulse\SDK\Model\APIError, HTTP status code, HTTP response headers (array of strings)
     */
    public function submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostWithHttpInfo($submit_complete_invoice_request, string $contentType = self::contentTypes['submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'][0])
    {
        $request = $this->submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest($submit_complete_invoice_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\SubmitCompleteInvoiceResponse',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
                case 401:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\APIError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\SubmitCompleteInvoiceResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\SubmitCompleteInvoiceResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 401:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\APIError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostAsync
     *
     * Submit a complete invoice (generation + signature + submission)
     *
     * @param  \FactPulse\SDK\Model\SubmitCompleteInvoiceRequest $submit_complete_invoice_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostAsync($submit_complete_invoice_request, string $contentType = self::contentTypes['submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'][0])
    {
        return $this->submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostAsyncWithHttpInfo($submit_complete_invoice_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostAsyncWithHttpInfo
     *
     * Submit a complete invoice (generation + signature + submission)
     *
     * @param  \FactPulse\SDK\Model\SubmitCompleteInvoiceRequest $submit_complete_invoice_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostAsyncWithHttpInfo($submit_complete_invoice_request, string $contentType = self::contentTypes['submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\SubmitCompleteInvoiceResponse';
        $request = $this->submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest($submit_complete_invoice_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'
     *
     * @param  \FactPulse\SDK\Model\SubmitCompleteInvoiceRequest $submit_complete_invoice_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest($submit_complete_invoice_request, string $contentType = self::contentTypes['submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'][0])
    {

        // verify the required parameter 'submit_complete_invoice_request' is set
        if ($submit_complete_invoice_request === null || (is_array($submit_complete_invoice_request) && count($submit_complete_invoice_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $submit_complete_invoice_request when calling submitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost'
            );
        }


        $resourcePath = '/api/v1/processing/invoices/submit-complete';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($submit_complete_invoice_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($submit_complete_invoice_request));
            } else {
                $httpBody = $submit_complete_invoice_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
[...]
