<?php
/**
 * ProcessingEndpointsUnifisApi
 * PHP version 8.1
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * API REST FactPulse
 *
 * API REST pour la facturation électronique en France : Factur-X, AFNOR PDP/PA, signatures électroniques.  ## 🎯 Fonctionnalités principales  ### 📄 Génération de factures Factur-X - **Formats** : XML seul ou PDF/A-3 avec XML embarqué - **Profils** : MINIMUM, BASIC, EN16931, EXTENDED - **Normes** : EN 16931 (directive UE 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Format simplifié** : Génération à partir de SIRET + auto-enrichissement (API Chorus Pro + Recherche Entreprises)  ### ✅ Validation et conformité - **Validation XML** : Schematron (45 à 210+ règles selon profil) - **Validation PDF** : PDF/A-3, métadonnées XMP Factur-X, signatures électroniques - **VeraPDF** : Validation stricte PDF/A (146+ règles ISO 19005-3) - **Traitement asynchrone** : Support Celery pour validations lourdes (VeraPDF)  ### 📡 Intégration AFNOR PDP/PA (XP Z12-013) - **Soumission de flux** : Envoi de factures vers Plateformes de Dématérialisation Partenaires - **Recherche de flux** : Consultation des factures soumises - **Téléchargement** : Récupération des PDF/A-3 avec XML - **Directory Service** : Recherche d'entreprises (SIREN/SIRET) - **Multi-client** : Support de plusieurs configs PDP par utilisateur (stored credentials ou zero-storage)  ### ✍️ Signature électronique PDF - **Standards** : PAdES-B-B, PAdES-B-T (horodatage RFC 3161), PAdES-B-LT (archivage long terme) - **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO) - **Validation** : Vérification intégrité cryptographique et certificats - **Génération de certificats** : Certificats X.509 auto-signés pour tests  ### 🔄 Traitement asynchrone - **Celery** : Génération, validation et signature asynchrones - **Polling** : Suivi d'état via `/taches/{id_tache}/statut` - **Pas de timeout** : Idéal pour gros fichiers ou validations lourdes  ## 🔒 Authentification  Toutes les requêtes nécessitent un **token JWT** dans le header Authorization : ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### Comment obtenir un token JWT ?  #### 🔑 Méthode 1 : API `/api/token/` (Recommandée)  **URL :** `https://www.factpulse.fr/api/token/`  Cette méthode est **recommandée** pour l'intégration dans vos applications et workflows CI/CD.  **Prérequis :** Avoir défini un mot de passe sur votre compte  **Pour les utilisateurs inscrits via email/password :** - Vous avez déjà un mot de passe, utilisez-le directement  **Pour les utilisateurs inscrits via OAuth (Google/GitHub) :** - Vous devez d'abord définir un mot de passe sur : https://www.factpulse.fr/accounts/password/set/ - Une fois le mot de passe créé, vous pourrez utiliser l'API  **Exemple de requête :** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\"   }' ```  **Réponse :** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Token d'accès (validité: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Token de rafraîchissement (validité: 7 jours) } ```  **Avantages :** - ✅ Automatisation complète (CI/CD, scripts) - ✅ Gestion programmatique des tokens - ✅ Support du refresh token pour renouveler automatiquement l'accès - ✅ Intégration facile dans n'importe quel langage/outil  #### 🖥️ Méthode 2 : Génération via Dashboard (Alternative)  **URL :** https://www.factpulse.fr/dashboard/  Cette méthode convient pour des tests rapides ou une utilisation occasionnelle via l'interface graphique.  **Fonctionnement :** - Connectez-vous au dashboard - Utilisez les boutons \"Generate Test Token\" ou \"Generate Production Token\" - Fonctionne pour **tous** les utilisateurs (OAuth et email/password), sans nécessiter de mot de passe  **Types de tokens :** - **Token Test** : Validité 24h, quota 1000 appels/jour (gratuit) - **Token Production** : Validité 7 jours, quota selon votre forfait  **Avantages :** - ✅ Rapide pour tester l'API - ✅ Aucun mot de passe requis - ✅ Interface visuelle simple  **Inconvénients :** - ❌ Nécessite une action manuelle - ❌ Pas de refresh token - ❌ Moins adapté pour l'automatisation  ### 📚 Documentation complète  Pour plus d'informations sur l'authentification et l'utilisation de l'API : https://www.factpulse.fr/documentation-api/
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.18.0-SNAPSHOT
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace FactPulse\SDK\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use FactPulse\SDK\ApiException;
use FactPulse\SDK\Configuration;
use FactPulse\SDK\FormDataProcessor;
use FactPulse\SDK\HeaderSelector;
use FactPulse\SDK\ObjectSerializer;

/**
 * ProcessingEndpointsUnifisApi Class Doc Comment
 *
 * @category Class
 * @package  FactPulse\SDK
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class ProcessingEndpointsUnifisApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost' => [
            'application/json',
        ],
        'soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost' => [
            'application/json',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost
     *
     * Soumettre une facture complète (génération + signature + soumission)
     *
     * @param  \FactPulse\SDK\Model\SoumettreFactureCompleteRequest $soumettre_facture_complete_request soumettre_facture_complete_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\SoumettreFactureCompleteResponse|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost($soumettre_facture_complete_request, string $contentType = self::contentTypes['soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'][0])
    {
        list($response) = $this->soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostWithHttpInfo($soumettre_facture_complete_request, $contentType);
        return $response;
    }

    /**
     * Operation soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostWithHttpInfo
     *
     * Soumettre une facture complète (génération + signature + soumission)
     *
     * @param  \FactPulse\SDK\Model\SoumettreFactureCompleteRequest $soumettre_facture_complete_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\SoumettreFactureCompleteResponse|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostWithHttpInfo($soumettre_facture_complete_request, string $contentType = self::contentTypes['soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'][0])
    {
        $request = $this->soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest($soumettre_facture_complete_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\SoumettreFactureCompleteResponse',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\SoumettreFactureCompleteResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\SoumettreFactureCompleteResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostAsync
     *
     * Soumettre une facture complète (génération + signature + soumission)
     *
     * @param  \FactPulse\SDK\Model\SoumettreFactureCompleteRequest $soumettre_facture_complete_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostAsync($soumettre_facture_complete_request, string $contentType = self::contentTypes['soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'][0])
    {
        return $this->soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostAsyncWithHttpInfo($soumettre_facture_complete_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostAsyncWithHttpInfo
     *
     * Soumettre une facture complète (génération + signature + soumission)
     *
     * @param  \FactPulse\SDK\Model\SoumettreFactureCompleteRequest $soumettre_facture_complete_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostAsyncWithHttpInfo($soumettre_facture_complete_request, string $contentType = self::contentTypes['soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\SoumettreFactureCompleteResponse';
        $request = $this->soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest($soumettre_facture_complete_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'
     *
     * @param  \FactPulse\SDK\Model\SoumettreFactureCompleteRequest $soumettre_facture_complete_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest($soumettre_facture_complete_request, string $contentType = self::contentTypes['soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'][0])
    {

        // verify the required parameter 'soumettre_facture_complete_request' is set
        if ($soumettre_facture_complete_request === null || (is_array($soumettre_facture_complete_request) && count($soumettre_facture_complete_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $soumettre_facture_complete_request when calling soumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost'
            );
        }


        $resourcePath = '/api/v1/traitement/factures/soumettre-complete';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($soumettre_facture_complete_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($soumettre_facture_complete_request));
            } else {
                $httpBody = $soumettre_facture_complete_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost
     *
     * Soumettre une facture complète (asynchrone avec Celery)
     *
     * @param  \FactPulse\SDK\Model\SoumettreFactureCompleteRequest $soumettre_facture_complete_request soumettre_facture_complete_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return \FactPulse\SDK\Model\ReponseTache|\FactPulse\SDK\Model\HTTPValidationError
     */
    public function soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost($soumettre_facture_complete_request, string $contentType = self::contentTypes['soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'][0])
    {
        list($response) = $this->soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostWithHttpInfo($soumettre_facture_complete_request, $contentType);
        return $response;
    }

    /**
     * Operation soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostWithHttpInfo
     *
     * Soumettre une facture complète (asynchrone avec Celery)
     *
     * @param  \FactPulse\SDK\Model\SoumettreFactureCompleteRequest $soumettre_facture_complete_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'] to see the possible values for this operation
     *
     * @throws \FactPulse\SDK\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of \FactPulse\SDK\Model\ReponseTache|\FactPulse\SDK\Model\HTTPValidationError, HTTP status code, HTTP response headers (array of strings)
     */
    public function soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostWithHttpInfo($soumettre_facture_complete_request, string $contentType = self::contentTypes['soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'][0])
    {
        $request = $this->soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest($soumettre_facture_complete_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            switch($statusCode) {
                case 202:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\ReponseTache',
                        $request,
                        $response,
                    );
                case 422:
                    return $this->handleResponseWithDataType(
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $request,
                        $response,
                    );
            }

            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\FactPulse\SDK\Model\ReponseTache',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 202:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\ReponseTache',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
                case 422:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\FactPulse\SDK\Model\HTTPValidationError',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        

            throw $e;
        }
    }

    /**
     * Operation soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostAsync
     *
     * Soumettre une facture complète (asynchrone avec Celery)
     *
     * @param  \FactPulse\SDK\Model\SoumettreFactureCompleteRequest $soumettre_facture_complete_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostAsync($soumettre_facture_complete_request, string $contentType = self::contentTypes['soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'][0])
    {
        return $this->soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostAsyncWithHttpInfo($soumettre_facture_complete_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostAsyncWithHttpInfo
     *
     * Soumettre une facture complète (asynchrone avec Celery)
     *
     * @param  \FactPulse\SDK\Model\SoumettreFactureCompleteRequest $soumettre_facture_complete_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostAsyncWithHttpInfo($soumettre_facture_complete_request, string $contentType = self::contentTypes['soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'][0])
    {
        $returnType = '\FactPulse\SDK\Model\ReponseTache';
        $request = $this->soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest($soumettre_facture_complete_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if ($returnType === '\SplFileObject') {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'
     *
     * @param  \FactPulse\SDK\Model\SoumettreFactureCompleteRequest $soumettre_facture_complete_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest($soumettre_facture_complete_request, string $contentType = self::contentTypes['soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'][0])
    {

        // verify the required parameter 'soumettre_facture_complete_request' is set
        if ($soumettre_facture_complete_request === null || (is_array($soumettre_facture_complete_request) && count($soumettre_facture_complete_request) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $soumettre_facture_complete_request when calling soumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost'
            );
        }


        $resourcePath = '/api/v1/traitement/factures/soumettre-complete-async';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;





        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($soumettre_facture_complete_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($soumettre_facture_complete_request));
            } else {
                $httpBody = $soumettre_facture_complete_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        if ($this->config->getCertFile()) {
            $options[RequestOptions::CERT] = $this->config->getCertFile();
        }

        if ($this->config->getKeyFile()) {
            $options[RequestOptions::SSL_KEY] = $this->config->getKeyFile();
        }

        return $options;
    }

    private function handleResponseWithDataType(
        string $dataType,
        RequestInterface $request,
        ResponseInterface $response
    ): array {
        if ($dataType === '\SplFileObject') {
            $content = $response->getBody(); //stream goes to serializer
        } else {
            $content = (string) $response->getBody();
            if ($dataType !== 'string') {
                try {
                    $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                } catch (\JsonException $exception) {
                    throw new ApiException(
                        sprintf(
                            'Error JSON decoding server response (%s)',
                            $request->getUri()
                        ),
                        $response->getStatusCode(),
                        $response->getHeaders(),
                        $content
                    );
                }
            }
        }

        return [
            ObjectSerializer::deserialize($content, $dataType, []),
            $response->getStatusCode(),
            $response->getHeaders()
        ];
    }

    private function responseWithinRangeCode(
        string $rangeCode,
        int $statusCode
    ): bool {
        $left = (int) ($rangeCode[0].'00');
        $right = (int) ($rangeCode[0].'99');

        return $statusCode >= $left && $statusCode <= $right;
    }
}
